[2018-03-14 22:03] jose5918 opened #4 "Preserving git history for tf-operator"
I have a branch that preserves the git history from TF operator here https://github.com/jose5918/pytorch-operator/tree/initial-operator, but it is considered an entirely different git history so I can't merge.

If anyone knows the correct way to preserve the history that would be helpful so that the changes made between the pytorch and tf operators is more transparent.

[2018-03-15 00:00] jose5918 opened #7 "Support Gloo and MPI communication backends"
Right now the operator has only been tested to work with the TCP backend. We would like to add support for the Gloo and MPI backends
http://pytorch.org/tutorials/intermediate/dist_tuto.html#communication-backends

[2018-03-15 02:39] gaocegege commented on #4
I think there is no need to keep the git history from tf-operator.

If you want to keep it, I think we can squash all commits in tf operator into one and commit it to this repo, then commit new code.

[2018-03-15 02:40] gaocegege opened #8 "[test] Establish CI system for this repo"
I think we should establish CI (Travis and prow or only prow) for maintenance.

[2018-03-15 17:07] jose5918 commented on #4
Alright, I'll probably leave that branch open then in case people want to look.

[2018-03-15 17:10] jose5918 commented on #8
I will start setting up Prow so that other people can start working on this as well

[2018-03-16 00:09] jose5918 commented on #8
https://github.com/kubernetes/test-infra/pull/7313

[2018-03-19 21:05] mhbuehler opened #11 "Create another distributed example in addition to MNIST"
Imagenet or something else from https://github.com/pytorch/examples would be good candidates.

[2018-03-19 21:23] jose5918 commented on #11
What does an E2E example include?

[2018-03-19 21:47] mhbuehler commented on #11
Do you have a preference? I was thinking just a new training script that shows a more complex example that executes the same way MNIST currently does. I can remove the "E2E" from the issue title, unless you have other ideas.

[2018-03-19 21:52] jose5918 commented on #11
Yeah that works. If you add another example, can you look into one that has a clearer output. The current one doesn't seem to provide information as it runs

[2018-03-19 22:06] mhbuehler commented on #11
Good idea - I'll try to incorporate more substantial output. I'd like to pick up this issue and get started, if that's alright.

[2018-03-19 22:10] jose5918 commented on #11
@mhbuehler Sounds good

[2018-03-19 22:54] mhbuehler opened #12 "Add a developer_guide.md doc"
A document very similar to the one for tf-operator: https://github.com/kubeflow/tf-operator/blob/master/developer_guide.md

[2018-03-28 21:13] jose5918 commented on #8
@gaocegege Can we close this? Testing should be in place for both Travis and prow

[2018-03-28 21:15] jose5918 opened #16 "Improve e2e test coverage"
Right now e2e test coverage only checks that the PyTorchJob from the examples reaches a running state. Would like to test deletion, multiple jobs etc.

[2018-03-28 22:45] jose5918 opened #17 "PyTorchJob reaches Unknown state"
After a PyTorch job completes and training should be successful, the state of the PyTorchJob shows as unknown.

Should also update e2e to check for this once it is fixed

[2018-04-02 17:42] jose5918 opened #20 "Push a `latest` image on postsubmit"
The helm chart in the repo should be up to date with the latest build right now since there are no releases. This could be accomplished by using a `latest` tag when building postsubmits and setting the helm chart image to `latest`.

[2018-04-02 23:53] jose5918 commented on #17
/assign @jose5918

[2018-04-04 02:05] gaocegege commented on #8
Sorry for the late reply, feel free to close it since we already imported it

[2018-04-04 02:05] #8 closed

[2018-04-04 20:57] #17 closed

[2018-04-04 22:44] #11 closed

[2018-04-09 12:26] jlewi opened #24 "ksonnet package"
Right now the operator is using helm; can we use ksonnet instead to be consistent with the rest of Kubeflow?

[2018-04-17 17:55] jose5918 opened #26 "Fix Go Report Card issue"
https://goreportcard.com/report/github.com/kubeflow/pytorch-operator

[2018-04-25 22:04] jose5918 opened #29 "Add an example for DistributedDataParallel"
- Add an example for DistributedDataParallel or edit a current example to use this functionality.
- Add an example for new DistributedDataParallel CPU https://github.com/pytorch/pytorch/pull/5919/files in Pytorch v0.4.0

[2018-04-25 22:31] jose5918 opened #30 "Examine new PyTorch launch utility for distributed jobs"
http://pytorch.org/docs/stable/distributed.html#launch-utility

At a glance, it doesn't seem to offer a better alternative to using the current initializations methods, but probably requires at least a closer look.

[2018-05-08 16:01] jlewi commented on #29
I'm marking this P1 because I think a minimal example is required in order to have the pytorch operator ready as part of our 0.2 release.

[2018-05-08 16:04] jlewi commented on #30
It looks like the tool is spawning multiple processes on nodes. How is it doing that? ssh? We are spawning processess using the K8s APIs. My guess is that the functionality provided by that tool is a poor substitute for the K8s APIs.

[2018-05-08 16:06] jlewi commented on #24
P1 because we need a ksonnet package in order for this to be included as part of our 0.2.0 release.

[2018-05-08 16:07] jlewi commented on #20
Kubeflow is using ksonnet not helm. So I don't think there's much value to be had in supporting helm.

Is this issue about
- Pushing the latest helm package?
- Pushing updated docker images?
- Pushing updated ksonnet packages?

[2018-05-08 16:10] jlewi opened #32 "Minimal smoke test for distributed training"
We need a minimal E2E test for distributed training just like we do for the TF operator.

The E2E test should do something like the following
- Create N replicas
- Ensure work can be assigned and performed by all replicas

In the TFJob test case we just do a simple matrix multiple.

P1 because this is a blocker to including the PyTorch operator in our 0.2 release

[2018-05-08 16:11] jlewi commented on #4
Can we close this issue?

[2018-05-08 16:31] jose5918 commented on #20
I would say at this point it's just about having a release process for the docker image.  So this might be good enough https://github.com/kubeflow/pytorch-operator/pull/28.

And yeah the readme needs an update to use the ksonnet commands instead of the helm ones.

[2018-05-08 17:10] jlewi commented on #30
Code is [here](https://github.com/pytorch/pytorch/tree/master/torch/distributed)

[2018-05-08 17:17] jlewi commented on #30
Based on the comments in [launch.py](https://github.com/pytorch/pytorch/blob/master/torch/distributed/launch.py) it looks like launch.py needs to be manually started on each node. I think the value add of launch.py is that can manage multiple processes on a single node; all it does is call POpen.

So it could in principle be used in conjection with the PyTorch operator.

However, an alternative ap

[2018-05-08 17:59] jose5918 commented on #24
/assign

[2018-05-16 13:23] Farrellow opened #33 "Server is unable to handle kubeflow.org/v1alpha1"
I have already installed tf-operator in kubernetes cluster. Now I want to deploy pytorch-operator in kubernets. I use Ksonnet.
Here is my steps:
[code]
So I got the error:
[code]

[2018-05-16 16:52] jose5918 commented on #33
@Farrellow You need to install the operator with Ksonnet before submitting a job.
 So `ks generate pytorch-operator pytorch-operator` and `ks apply default -c pytorch-operator`

After that you can use the pytorch-job object

[2018-05-17 03:32] Farrellow commented on #33
@jose5918 thank you so much.

[2018-05-17 03:32] #33 closed

[2018-05-25 20:35] jlewi commented on #24
Looks like there might already be a py-torch package in bootstrapper so just need to figure out what else is needed.

[2018-05-25 20:43] jlewi commented on #24
/assign jlewi
/unassign @jose5918

[2018-05-28 15:41] johnugeorge opened #35 "Distributed MNIST example fails to run"
With the latest pytorch, Dataloader argument batch size has to be an integer.   Also, usage of indexing 0-dim Tensor is deprecated (See https://github.com/pytorch/pytorch/issues/6061) .

[2018-05-29 12:56] jlewi commented on #24
ksonnet package exists
https://github.com/kubeflow/kubeflow/tree/master/kubeflow/pytorch-job

So I'm marking this fixed.

[2018-05-29 12:56] #24 closed

[2018-05-29 23:05] kunmingg commented on #20
@jlewi This PR contains brief instructions for adding nightly build:
https://github.com/kubeflow/kubeflow/pull/890

https://github.com/kunmingg/kubeflow/blob/reldoc/docs_dev/releasing.md#image-auto-release

[2018-05-30 16:44] #35 closed

[2018-05-30 19:49] jose5918 commented on #16
/assign sudeshsh

[2018-06-01 17:29] #16 closed

[2018-06-04 19:41] #32 closed

[2018-06-10 17:06] johnugeorge commented on #29
/priority p2

[2018-06-10 17:08] johnugeorge commented on #29
/remove-priority p1

[2018-06-12 18:39] #20 closed

[2018-06-13 14:02] pdmack opened #40 "Friction log"
[code]
These paths in the README don't exist:
[code]

[2018-06-13 20:58] pdmack commented on #40
[code]

Probably need to point out that the helm command needs to be run from the repo root **or** the user must provide the relative or absolute path to the chart.

[2018-06-13 21:12] pdmack commented on #40
Not sure how much the user should have to futz with Tiller, but I needed to do the following to get it running for the helm install:
[code]

[2018-06-13 21:31] pdmack commented on #40
Seems good after that:
[code]

/cc @jlewi

[2018-06-18 18:32] kunmingg opened #42 "Support cross compile for image build."
Currently if we run [build_image.sh](https://github.com/kubeflow/pytorch-operator/blob/master/build_image.sh) from OSX, the generated go binary might not work on linux.
We want to support corss compile.

[2018-06-21 13:01] jlewi commented on #40
There are some newly added instructions here:
https://www.kubeflow.org/docs/user_guide/#submitting-a-pytorch-training-job

[2018-06-22 18:35] johnugeorge commented on #40
Updated Readme. Currently, Ksonnet is the recommended way of installing pytorch-operator.
Installation instructions are added in  https://www.kubeflow.org/docs/user_guide

Closing this
/close

[2018-06-22 18:35] #40 closed

[2018-07-02 17:04] jlewi opened #47 "MNIST example is using our kubeflow-ci containers"
The [MNIST example](https://github.com/kubeflow/pytorch-operator/blob/master/examples/dist-mnist/pytorch_job_mnist.yaml) is pointing to containers in our kubeflow-ci environment

[code]

[2018-07-02 23:18] #47 closed

[2018-07-03 01:55] jlewi opened #49 "v1alpha2 pytorch API should try to be consistent with TFJob"
TFJob operator v1alpha2 made a bunch of API changes e.g

- Use dictionary for replicas not list
- Introduced CleanPodPolicy

We should create a v1alpha2 API for PyTorch that strives to be as consistent with TFJob as possible.

[2018-07-03 01:57] jlewi opened #50 "Can PyTorch share implementation with TfJob operator?"
v1alpha2 made significant improvements to the TFJob operator implementation.

Can we refactor the implementation into a library that can be reused by TFJob operator?

[2018-07-03 02:13] gaocegege commented on #50
@jlewi
I think @ankushagarwal 's proposal could solve the problem.

[2018-07-03 02:50] jlewi commented on #50
This issue is in reference to that proposal.

On Mon, Jul 2, 2018, 7:13 PM Ce Gao <notifications@github.com> wrote:

[2018-07-26 02:03] arinto opened #52 "Error applying PyTorchJob: no matches for kind "PyTorchJob" in version "kubeflow.org/v1alpha1""
I'm trying to submit PyTorch job, by following Kubeflow [user-guide](https://www.kubeflow.org/docs/about/user_guide/).  However I encountered this error:
[code]

Any thought on how to move forward?

Environment: minikube using Kubernetes 1.10

Here's my sequence of command to setup Minikube + Kubeflow
[code]
Here's my sequence of command to setup PyTorch:
[code]

kubectl version output
[code]

[2018-07-26 19:05] jose5918 commented on #52
@arinto In which command did you encounter this error? Also did you verify that you have the pytorch operator running and the crd created?

https://www.kubeflow.org/docs/started/pytorch/#verify-that-pytorch-support-is-included-in-your-kubeflow-deployment

[2018-08-01 18:13] johnugeorge commented on #52
@arinto any update?

[2018-08-02 01:11] arinto commented on #52
Hi @jose5918 and @johnugeorge , I haven't had chance to continue my exploration on Kubeflow + PyTorch. Will update the thread by early next week

[2018-08-10 14:04] jlewi commented on #50
@johnugeorge is actively working on refactoring the code to share implementation. So the answer to the question is "yes".

Marking this as fixed; we can open up more scoped issues as needed.

[2018-08-10 14:04] #50 closed

[2018-08-21 13:11] jlewi commented on #49
@johnugeorge How's this coming? Looks like the PR kubeflow/tf-operator#786 creates a v1alpha2 API for PyTorch that is consistent with TFJob v1alpha2.

[2018-08-21 14:04] johnugeorge commented on #49
Yes. You are right. The confusion is only wrt to location where to keep the code.  I tested v1 alpha2 code with a basic example.

[2018-08-29 01:16] johnugeorge opened #55 "[discussion] Need for 'Master' replica type?"
Currently, there are two replica types in Pytorch -' Master' and 'Worker'  Do we really need 'Master'  replica type?  From the pytorch distributed description, master is the worker with the rank 0(first worker)   From @jose5918, I got to know that it was kept to indicate the difference between a 'master' and 'worker' incase of a distributed job.
Even if we keep master, no of master replicas has to

[2018-08-29 02:55] johnugeorge commented on #55
From slack conversations,

 we will keep the way it is for now. We can revisit if there is any need in the future.  For now, Master type with replica 1 will be mandatory for every PytorchJob.

Closing this issue.
/close

[2018-08-29 02:55] #55 closed

[2018-08-31 14:11] jlewi opened #58 "Scope pytorch-operator to a namespace"
See kubeflow/kubeflow#1213
and kubeflow/tf-operator#759

We'd like to be able to scope Kubeflow to a particular namespace to better support multi-tenant environments.

Right now pytorch uses a cluster role and claims jobs in all namespaces. We'd like to add an option to scope it to one or more namespaces.

Here's what we did for TFJob operator; kubeflow/tf-operator

Also worth considering what Arg

[2018-09-03 08:16] #58 closed

[2018-09-03 21:45] jlewi commented on #29
@johnugeorge What's the status of this? Do we have a data parallel example? If not should we try to add one as part of 0.3. or 0.4?

[2018-09-05 04:55] johnugeorge opened #66 "Add example for MPI backend"
Related to #7

/assign @akado2009

[2018-09-05 05:00] johnugeorge opened #67 "Add example for Gloo backend"
Related to #7

[2018-09-05 05:00] johnugeorge commented on #66
/label release/0.3.0

[2018-09-05 07:38] royxue commented on #67
I just tested this gloo backend could work, no need to change the existed mnist test alot.
Just replace backend, add GPU support, and add `destroy_process_group`.

If you need help, I could make a PR

[2018-09-05 07:42] royxue commented on #67
However, hmmm which is kinda strange, the gloo can only work with v1alpha2 version, but failed on v1alpha1

[2018-09-05 07:43] gaocegege commented on #67
We do not maintain v1alpha1 anymore, thus it works for us. IMO.

[2018-09-05 07:51] royxue commented on #67
There is still one issue left for gloo backend I was looking into.
The worker pod could reach `completed` status after `destroy_process_group`. But the master pod cannot, and will always restart.

This might be related to the pytorch version and NCCL version.

[2018-09-05 07:53] gaocegege commented on #67
We can dive into the issue, if we cannot fix it, we can refer to tf-operator and add a cleanpodpolicy to delete the master pod after the job is finished.

[2018-09-05 08:03] johnugeorge commented on #67
@royxue Why is the master pod restart? Currently RestartPolicy is OnFailure.  Does it fail?

[2018-09-05 08:27] royxue commented on #67
yep, it will throw out an error, which would be regarded as failed. I could provide the error info later.

Also, for example, if you didnt call `destroy_process_group`, gloo would throw the `EnForceNotMet`  error. as shown in (https://github.com/pytorch/pytorch/issues/2530) which would cause all pod restarted.

[2018-09-05 08:43] royxue commented on #67
@johnugeorge
The error is
[code]

[2018-09-05 08:58] johnugeorge commented on #67
Looks like pytorch bug

[2018-09-05 09:36] royxue commented on #67
I think pytorch didnt stop the gloo process correctly when distributed training finished.

[2018-09-07 02:44] johnugeorge commented on #66
/assign @Akado2009

[2018-09-11 04:15] gaocegege opened #69 "[examples] Add an example for PyTorch 0.4"
We have an example using PyTorch v0.2, which is released a year ago. I think we could add a v0.4 example.

When I tried to use the dist MNIST code in examples and v0.4 image to run it, the pods are failed.

[2018-09-11 08:27] johnugeorge commented on #69
which pytorch version did you use ? https://hub.docker.com/r/pytorch/pytorch/tags/

[2018-09-11 09:10] gaocegege commented on #69
0.4_cuda9_cudnn7

[2018-09-11 13:27] johnugeorge commented on #69
@gaocegege  I am not able to reproduce the error. I tried dist-mnist example( https://github.com/kubeflow/pytorch-operator/tree/master/examples/dist-mnist ) with both pytorch:0.4_cuda9_cudnn7 and pytorch:latest

Job was successful. Are you using default configuration?  Which example did you use?

[2018-09-11 17:50] johnugeorge commented on #66
/assign @Akado2009

[2018-09-12 02:04] gaocegege commented on #69
I will try again. I use https://github.com/caicloud/ciao to set up a PyTorchJob in Jupyter Notebook, maybe the bug is in my code.

[2018-09-13 03:09] johnugeorge commented on #29
/assign @andreyvelich

[2018-09-13 04:59] johnugeorge commented on #67
This issue is not reproduced in pytorch:04

[2018-09-13 05:15] #67 closed

[2018-09-13 08:47] #29 closed

[2018-09-13 09:05] johnugeorge commented on #52
Since this issue is not reproducible, closing this issue
/close

[2018-09-13 09:05] #52 closed

[2018-09-13 09:06] johnugeorge commented on #4
Not relevant anymore
/close

[2018-09-13 09:06] #4 closed

[2018-09-13 10:28] #66 closed

[2018-09-13 11:08] johnugeorge commented on #7
MPI and Gloo examples #66 and # 67 are merged. Closing this issue
/close

[2018-09-13 11:08] #7 closed

[2018-09-13 12:22] johnugeorge opened #76 "Update Readme for v1alpha2 instructions"
Current Repo readme contains instructions for v1alpha1. It has to be changed

[2018-09-13 12:35] johnugeorge commented on #42
@kunmingg  Shall we fix env settings GOOS=linux GOARCH="amd64 for go build?

[2018-09-14 23:59] #69 closed

[2018-09-15 00:29] #76 closed

[2018-10-11 00:59] richardsliu opened #84 "[discussion] Refactor pytorch operator APIs"
Most of the types defined in https://github.com/kubeflow/pytorch-operator/blob/master/pkg/apis/pytorch/v1alpha2/types.go overlaps with TFJob. The structures of the APIs in tf-operator and pytorch-operator are similar enough such that they should just extend from a single API.

I propose something like:

Common:
- JobStatus
- ReplicaStatus
- JobCondition
- JobConditionType
- CleanPodPolicy
- Restar

[2018-10-11 03:19] gaocegege commented on #84
How about placing all APIs and clients in one repository named kuebflow/clients or clientsets

[2018-10-11 03:34] richardsliu commented on #84
Pytorch-operator currently imports a lot of reusable code from tf-operator. The idea is to make tf-operator the "canonical" operator, from which other training components can extend.

[2018-10-11 05:45] johnugeorge commented on #84
@richardsliu  Thanks for taking this up.  I was thinking in the same lines while I was restructuring the operator code.  We planned to keep it this way so that CRDs of each operator are completely independent of each other(which gives more flexibility to each operator)  This came up in one of the discussions in kubeflow-discuss group.  For eg: CleanPodPolicyRunning policy is supported in TF but no

[2018-10-11 05:57] gaocegege commented on #84
I think we do not have `conflicts` across the operators, TF has some extra policies which are not useful in PyTorch. But we can share the status fields. Then pytorch operator could ignore the policy.

Personally, I think sharing could help us to keep the consistency, which is helpful for users.

[2018-10-23 00:52] johnugeorge opened #86 "Refactor E2E tests"
More E2E tests have to be added test/e2e/v1alpha2/  into as per doc https://docs.google.com/document/d/1OLPp0gMPvBfwDs70Xf4tMS2qqtlR3nKu9P4B7FvlJ9M/edit#

[2018-10-23 00:52] johnugeorge commented on #86
/area 0.4.0

[2018-10-23 00:53] johnugeorge opened #87 "pytorch-operator should ensure that CRD exists"
See https://github.com/kubeflow/tf-operator/issues/710

/area 0.4.0

[2018-10-24 09:15] codeflitting opened #88 "[bug]: pytorchjob status conditions out-of-order"
![image](https://user-images.githubusercontent.com/6194419/47420135-4d8b7080-d7b0-11e8-907a-edad645007c6.png)

Created after Succeeded

[2018-10-24 09:28] gaocegege commented on #88
Can you give us more details about it? I think conditions does not require order, we can only rely on the time field in them.

[2018-10-24 09:38] codeflitting commented on #88
When the job just ended  the conditions is
- Created -> Running -> Succeeded

After a while the conditions is

- Running -> Succeeded -> Created

when the last conditions is succeeded，tf-operator wont update the conditions， i think this is a pytorch-operator bug

[2018-10-24 09:50] gaocegege commented on #88
Gotcha, then I think so. And we should check it in tf-operator, too.

[2018-10-24 09:54] johnugeorge commented on #88
I haven't seen this before.  I couldn't reproduce this issue.
In the screenshot,  I see that lastUpdateTime of Create event(2018-10-24) is later than the other two.  How did it happen?

[2018-10-24 10:02] codeflitting commented on #88
@johnugeorge
[code]

[2018-10-24 10:17] johnugeorge commented on #88
Did you do any manual change?

[2018-10-24 10:30] jwwandy opened #89 "MPI backend examples launch processes independently in each pod"
https://github.com/kubeflow/pytorch-operator/blob/master/examples/ddp/mnist/gpu/v1alpha2/job_mnist_DDP_GPU.yaml

When launching MPI backend jobs examples above with  `ENTRYPOINT ["mpirun", "-n", "4", "--allow-run-as-root", "python", "-u", "/opt/pytorch_dist_mnist/mnist_ddp_gpu.py"]` in Dockerfile,I expected to do distributed training where it launched 1 process on each pod(totally 4, with 1 master

[2018-10-24 10:58] johnugeorge commented on #89
@Akado2009

[2018-10-24 10:58] codeflitting commented on #88
no， just a normal  job

[2018-10-24 10:59] johnugeorge commented on #88
are you seeing this consistently?

[2018-10-24 11:06] codeflitting commented on #88
I didn't care about it before.  Not all pytorch job like this，just a fraction

[2018-10-24 11:48] gaocegege commented on #88
I looked through the code. We only have one place to update Created condition: https://github.com/kubeflow/pytorch-operator/blob/46e8cb69f75aeb46f6e5d90a115f919527af3fbc/pkg/controller.v2/pytorch/job.go#L84

Maybe it is caused by multiple runs of the operator. For example, you run the operator and deal with the create event. Then the operator is crashed and restarted, then addjob is called again.

[2018-10-24 11:53] johnugeorge commented on #88
I am confused at the timestamp of the events.  eg: the lastTransitionTime and lastUpdatedTime of the Create event

[2018-10-25 03:35] codeflitting commented on #88
It did reboot a few times
pytorch-operator-operator-v1-0-745458d6f9-5tcth      1/1       Running   6          10d

[2018-10-25 05:54] gaocegege commented on #88
I think so

[2018-10-25 06:01] johnugeorge commented on #88
I feel, this should be common across operators then

[2018-10-25 06:10] gaocegege commented on #88
Yeah, definitely

[2018-10-30 10:29] jwwandy opened #91 "MPI backend mnist gpu example error: "No space left on device""
https://github.com/kubeflow/pytorch-operator/blob/6538b247603a2f6693904c4242b6a50c06808313/examples/ddp/mnist/gpu/mnist_ddp_gpu.py#L142-L147

When running MPI gpu examples with more epochs, `average_gradients` called `dist.new_group` in every backward iterations, which creates new `ProcessGroupMPI` each time and raises `No space left on device` error after few epocs as below. Also, original code c

[2018-11-06 01:16] chrisheecho commented on #86
@johnugeorge are you planning to take this on?

[2018-11-08 08:39] johnugeorge opened #96 "Implement v1beta1 controller"
Add controller code for v1beta1 API

Related to #93

[2018-11-08 12:19] johnugeorge commented on #96
\area 0.4.0

[2018-11-08 21:46] #96 closed

[2018-11-09 08:34] johnugeorge commented on #84
Implemented

TF:  https://github.com/kubeflow/tf-operator/pull/859

Pytorch: #93

[2018-11-09 08:34] johnugeorge commented on #84
Closing this issue
/close

[2018-11-09 08:34] #84 closed

[2018-11-09 17:47] #87 closed

[2018-11-18 17:33] johnugeorge opened #104 "Create v1beta1 Pytorch operator docker image"
Add Pytorch operator v1beta1 binary to the docker image.

[2018-11-18 17:34] johnugeorge commented on #104
/area 0.4.0

[2018-11-19 06:50] johnugeorge opened #105 "Delete v1alpha1 API and controller from the repository"
Currently we only support last 2 versions of the operator. v1beta1 and v1alpha2

[2018-11-19 06:51] johnugeorge commented on #105
/area 0.4.0

[2018-11-20 04:34] johnugeorge opened #108 "Leverage E2e test framework in tf-operator"
From https://github.com/kubeflow/pytorch-operator/pull/101#issuecomment-440104646

Investigate  how we can leverage e2e test framework in tf-operator

Related: #101

[2018-11-20 06:14] Akado2009 commented on #89
@jwwandy, greetings. For now, as far as I know -n option in mpirun species the number of copies of process to run, not just the number of containers/pods.

[2018-11-20 06:53] #86 closed

[2018-11-20 07:46] Akado2009 commented on #89
@jwwandy Sorry for the late response, was busy working. But yeah, you're right, this example treats each pod as a separate openMPI cluster.

I was thinking about making an upgraded version of this example, so that it treats you k8s cluster as an openmpi cluster, then you're job is gonna be real distributed.

[2018-11-20 08:18] jwwandy commented on #89
@Akado2009 Thanks to make it clear.

Although my currently workaround is quite dirty by writing a shell script and downward API to setup all of ssh stuff after pods creation, I think they could(and should) be done by controller.

1. Generating private ssh key for each pod and broadcast public key to all pods as authorized keys
2. Adding ssh known_host (Also could disable the feature in ssh_config)

[2018-11-20 16:32] Akado2009 commented on #89
@jwwandy Yes, I agree, that it should be done by the controller.
Thank you for your workaround, I am going try to implement this logic inside the controller :)

[2018-11-21 04:52] #105 closed

[2018-11-21 06:06] Akado2009 commented on #108
/assign Akado2009

[2018-11-23 00:11] richardsliu commented on #108
Can we move the test framework code (test_runner etc) into kubeflow/testing? That way we don't need to replicate the code in every repository.

[2018-11-27 07:46] Akado2009 commented on #108
@jlewi How do you feel about that?

[2018-12-19 16:55] richardsliu commented on #108
The risk of moving test framework code into kubeflow/testing is that if it breaks, all presubmit tests in all repos also break. Fixing the test framework also requires a PR to be merged in kubeflow/testing first, before the changes take effect in kubeflow/tf-operator.

We currently don't have a lot of repos that utilize the Python test framework. Perhaps pytorch can just import the python librarie

[2018-12-23 08:54] jokerwenxiao opened #120 "I set ”cleanPodPolicy: All”, after the worker completed, no pod was deleted."

[2018-12-24 00:33] jokerwenxiao commented on #120
Name:         pytorchtest8888888888
Namespace:    kubeflow
Labels:       <none>
Annotations:  <none>
API Version:  kubeflow.org/v1alpha2
Kind:         PyTorchJob
Metadata:
  Creation Timestamp:  2018-12-23T07:36:39Z
  Generation:          1
  Resource Version:    63534810
  Self Link:           /apis/kubeflow.org/v1alpha2/namespaces/kubeflow/pytorchjobs/pytorchtest8888888888
  UID:

[2018-12-26 07:10] NikhilKanda commented on #42
I'm wondering to know if there's a way to cross compile Pytorch on Allwinner platform (AArch64 processor). Leads are greatly appreciated.

[2018-12-30 11:58] johnugeorge commented on #120
From the kubectl describe output,  job hasn't completed

[2019-01-02 07:14] TimZaman opened #122 "Double gradient reduction in examples?"
First, I'm confused why the example models implement their own DistributedDataParallel module. Why not use the torch one?

[DistributedDataParallel](https://pytorch.org/docs/master/nn.html#torch.nn.parallel.DistributedDataParallel) is used in the examples:
https://github.com/kubeflow/pytorch-operator/blob/master/examples/ddp/mnist/cpu/mnist_ddp_cpu.py#L154

The DistributedDataParallel documentatio

[2019-01-05 05:22] TimZaman opened #123 "Upgrade examples to Pytorch 1.0"
Amongst other things, I think the TCP examples can be pruned, as the tcp backend has been deprecated.

[2019-01-05 07:31] TimZaman commented on #50
Which proposal were you referring to?

[2019-01-09 23:31] andreyvelich commented on #122
Thank you for your issue.
Yes, we can use DistributedDataParallel from pytorch library.
Will change it.

[2019-01-10 04:30] johnugeorge commented on #120
@jokerwenxiao Still seeing the issue?

[2019-01-11 04:45] #122 closed

[2019-01-11 04:56] #123 closed

[2019-01-11 05:46] TimZaman opened #125 "Pytorch workers keep crashing if master is not up yet."
I've been observing this for a while now, and now I'm confident this consistently happens (for me):
- Create a pytorch job:
A) If the master is up first, things go well, no pods crash
B) If the master is not up first, the worker pod keep crashing with below error, until the master pod is up, and then things run fine. See below:
[code]

The reason this occurs is simply because PyTorch workers requi

[2019-01-11 06:00] johnugeorge commented on #125
@TimZaman you are right.  Workers will need master to be up before start.  It might cause workers to restart few times during startup but it shouldn't cause any issue. Have you seen any side effects because of this issue?

[2019-01-11 06:13] TimZaman commented on #125
Thank for your reponse! Nice work on this KF project, I might try to contribute a bit.

You are right: I don't think for our examples there would be any side effect, other than it's not ideal that they crash, of course (crash reports, logs, lists restarts, wasted cycles). I was assuming this is where the dedicated pytorch operator controller would come into fruition. We cannot look into other peop

[2019-01-11 06:20] johnugeorge commented on #125
@TimZaman Thanks for your interest and contributions. This issue can be taken care of.  I don't think, there is any problem in handling it.  I will have a look at it

[2019-01-25 17:32] SeanNaren opened #128 "Distribution across multi-gpu nodes"
Thanks for the work in this! This is somewhat tied #30, but I'm used to using DistributedDataParallel with a script similar to [this](https://github.com/NVIDIA/apex/blob/master/apex/parallel/multiproc.py) to use multi-gpu for speed/performance over the DataParallel wrapper!

I've started using kubeflow for single GPU nodes, but I'm curious if there is any way I could use two separate 8GPU nodes to

[2019-01-28 15:10] SeanNaren commented on #128
@jwwandy seems like for now this is a good enough solution and is working with a modified version of the launch script! Once i've migrated changes to a public branch I'll close this ticket with a link to the fixes

[2019-01-29 06:59] k82cn opened #129 "Support gang-scheduling by kube-batch"
Gang-scheduling is a common requirement from training job; kube-batch supports it right now :) So open this issue to trace the discussion.

[2019-01-29 06:59] k82cn commented on #129
/kind feature

[2019-01-30 22:00] #128 closed

[2019-02-01 02:47] Farrellow opened #130 "Distributed training can not increase the speed of loss reduction"
If you only look at the time spent on a single epoch, distributed training is indeed faster than singleton training. But our goal is to have a smaller loss, so I did an experiment. In the same time, the loss of single-instance training is smaller than the loss of distributed training.
The data set is imagenet, the network is resnet50, and the following is my code.

distributed_train.py
[code]

dis

[2019-02-07 07:16] johnugeorge commented on #125
/area 0.5.0

[2019-02-07 07:23] johnugeorge opened #134 "Pytorch operator v1beta2 API"
There are couple of minor api changes that are suggested. We can incorporate all these changes in the next API version.

Related: https://github.com/kubeflow/tf-operator/issues/935

- [x]  Requires support of Status subresource in CRD
- [x] Add ActiveDeadlineSeconds and BackoffLimit
- [x] Use pod group instead of PDB for gang scheduling
- [x] Supporting multiple versions of CRD

[2019-02-07 08:14] johnugeorge opened #135 "Deprecate v1alpha2 API"
As v1beta2 API is proposed, v1alpha2 version can be deprecated.

Related: #134

[2019-02-07 19:17] #135 closed

[2019-02-14 11:30] k82cn commented on #129
@johnugeorge , what's the plan of 0.5?

[2019-02-15 09:52] johnugeorge commented on #129
@k82cn
Currently, gang scheduling behavior is consistent across TF and Pytorch operators.

Are you working on  https://github.com/kubeflow/tf-operator/issues/916? This is planned for 0.5 release across operators.

[2019-02-18 09:38] TimZaman opened #140 "Label naming style inconsistent"
Nit: the labels dash/underscore are inconsistent. This hurts my inner-zen 🏯 .
[code]

[2019-03-02 16:18] johnugeorge commented on #42
Closing this issue as per comment https://github.com/kubeflow/pytorch-operator/issues/42#issuecomment-421086420

[2019-03-02 16:18] johnugeorge commented on #42
/close

[2019-03-02 16:18] #42 closed

[2019-03-04 02:33] hejiahuan1412 opened #144 "Ensuring CRD requires cluster-level authority"
PR https://github.com/kubeflow/pytorch-operator/pull/99 ensures CRD exists when starting pytorch-operator.

However, the CRD Checking function requires cluster-level authority which is hard to obtain mainly for safety reason. I wonder if we can use a alternative method to avoid the cluster-level authority requirement? Thanks!

[2019-03-04 04:12] johnugeorge commented on #144
Related: https://github.com/kubeflow/tf-operator/issues/929

[2019-03-04 12:30] johnugeorge commented on #140
@richardsliu Should we target this in 0.5.0? It has to be fixed in tf-operator too

[2019-03-04 16:23] richardsliu commented on #140
We should, seems like a simple fix. Inner zen is important.

[2019-03-04 17:08] johnugeorge commented on #140
/area 0.5.0

[2019-03-07 19:10] #140 closed

[2019-03-08 03:46] johnugeorge commented on #125
@TimZaman Fix is merged

[2019-03-08 03:54] johnugeorge commented on #125
Close this issue?

[2019-03-08 04:20] #125 closed

[2019-03-20 17:11] #144 closed

[2019-03-26 03:53] jlewi commented on #134
@johnugeorge Can we close this issue?

[2019-03-26 09:00] johnugeorge commented on #134
Waiting for https://github.com/kubeflow/tf-operator/issues/550 to get merged.
/cc @richardsliu

[2019-03-26 22:24] richardsliu commented on #134
https://github.com/kubeflow/tf-operator/pull/963 is merged now.

[2019-03-27 01:26] #129 closed

[2019-03-27 01:29] k82cn commented on #129
regarding kubeflow/tf-operator#916 , replace PDB with PodGroup is done; I'm thinking how to add some other advanced feature from kube-batch by PodGroup :). I'll do some investigation after 0.5 :)

[2019-03-27 18:01] johnugeorge commented on #134
All sub issues are merged. Closing the PR
/close

[2019-03-27 18:01] #134 closed

[2019-04-02 19:05] johanfleury commented on #55
Could you elaborate on this slack conversation?

I find the current spec a bit disturbing (master `replicas` limited to 1 and only 1 for instance) and as far as I know, the current implementation doesn't have a specific code path for managing the master pod (it starts all the pods at the same time for instance).

[2019-04-09 11:58] Akmazad commented on #125
Hi guys,
I'm facing the same problem now and not sure if this is due to other issues in my coding. I'm using pytorch/1.1.0a0-py36, openmpi/3.1.3, cuda/9.0, dist_method="env://" and backend=nccl.
===
File "/apps/pytorch/1.1.0a0-py36/lib/python3.6/site-packages/torch/distributed/rendezvous.py", line 143, in _env_rendezvous_handler
    store = TCPStore(master_addr, master_port, world_size, start_daem

[2019-04-09 13:11] johnugeorge commented on #125
Can you create a separate issue?

[2019-04-17 18:28] JavaDerek opened #152 "The Docker image used in .4.1 has multiple security issues"
There are several High security issues with gcr.io/kubeflow-images-public/pytorch-operator:v0.4.0.  I see there is a v0.5.0.  I don't know if these issues have been addressed and/or what the reverse-compatibility between this image and 0.4.1 might be.

[2019-04-18 03:30] johnugeorge commented on #152
Could you please elaborate more ?

[2019-04-19 11:56] johnugeorge commented on #152
@JavaDerek Can you try this newly built image gcr.io/kubeflow-ci/pytorch-operator@v0.5.0-1-gca71982

[2019-04-19 19:03] #152 closed

[2019-04-22 12:52] JavaDerek commented on #152
We're still on .4.1, so we'll splice this name into the location where we found the previous name in .4.1 and hope for the best.

[2019-04-25 02:42] younkun opened #154 "how could i delete this pod"
when execute “kubectl delete  pod pytorch-dist-mnist-gloo-master-0”  and"kubectl delete  pod pytorch-dist-mnist-gloo-worker-0",after a very short time ,these 2 pods could be created .How can I delete these pods completely? thank you very much.

[2019-04-25 02:52] gaocegege commented on #154
The pod is managed by the pytorchjob, thus you need to delete corresponding pytorchjob, then the pod will be deleted by Kubernetes GC controller.

Or you could set the https://github.com/kubeflow/pytorch-operator/blob/master/pkg/apis/pytorch/v1beta2/types.go#L58 to All, then the controller will delete when the pytorchjob is completed.

[2019-04-25 02:54] gaocegege commented on #130
Hi @Farrellow

I think the question is not in the scope of the operator. The question is about the loss reduction during the distributed training. And the operator is to provide the functionality of distributed training. We do not optimize the process. Thus I think it is better to raise the question in PyTorch community.

[2019-04-25 02:55] gaocegege commented on #130
I am closing the issue, but feel free to leave comments

[2019-04-25 02:55] #130 closed

[2019-04-25 02:55] gaocegege commented on #120
I am closing the issue since it is stale

[2019-04-25 02:55] #120 closed

[2019-04-25 02:59] gaocegege commented on #88
I think the created condition should be created and never updated.

[2019-04-25 03:03] gaocegege commented on #88
/assign

[2019-04-25 07:57] younkun commented on #154
Thank you !This problem has been bothering me for a long time.

[2019-04-25 07:58] younkun commented on #154
Thank you !This problem has been bothering me for a long time.

[2019-04-25 08:04] gaocegege commented on #154
Sorry about that. It is a feature implemented by the operator.

I am closing the issue now, feel free to leave comments.

[2019-04-25 08:04] #154 closed

[2019-05-19 10:27] johnugeorge opened #160 "Pytorch operator 1.0 release"
Tracking items needed for PyTorch Job 1.0 release

 - [x]  Create v1 API #161
 - [x] Adding Prometheus support
 - [x] Documentation update
 - [x] Kustomize files update

Related: https://github.com/kubeflow/tf-operator/issues/968

[2019-05-19 10:29] johnugeorge opened #161 "Pytorch API v1 implementation"
Implement controller for pytorch v1 api

[2019-05-19 16:40] zzvara opened #163 "Question: MNIST example"
While running the MNIST example on a private Kubernetes cluster, I noticed that even when the number-of-workers are set to 30, all of them were scheduled to the same node (where Kubeflow is located due to persistent local storage) and all of them produced the exact same logs. Isn't that indicative of that the same model training ran on 30 different pods at the same time?

I built and pushed the `D

[2019-05-20 02:39] johnugeorge commented on #163
Right. It should to be

[2019-05-20 05:22] zzvara commented on #163
Then you lost me at the motivation. Why would you run the same training process on the same data in 30 copies, where 1 copy is called the master and 29 copies are called the workers. I checked it is not 04-01.

[2019-05-20 05:50] johnugeorge commented on #163
I meant, it is a distributed job with 1 master and 30 workers.  You can verify by checking the env variable values in the pods - https://pytorch.org/tutorials/intermediate/dist_tuto.html#initialization-methods

[2019-05-21 03:16] #161 closed

[2019-06-05 07:06] johnugeorge commented on #88
This has been already fixed by https://github.com/kubeflow/pytorch-operator/pull/114

[2019-06-05 07:09] johnugeorge commented on #88
Closing the PR

[2019-06-05 07:09] johnugeorge commented on #88
/close

[2019-06-05 07:09] #88 closed

[2019-06-06 06:12] johnugeorge commented on #163
Duplicate of https://github.com/kubeflow/pytorch-operator/issues/89
Closing this issue
/close

[2019-06-06 06:12] #163 closed

[2019-06-06 06:18] johnugeorge commented on #30
Distributed training is achieved by setting up `MASTER_PORT`, `RANK`, `WORLD_SIZE`, `MASTER_PORT` environment variables while using `init_process_group`.
As this feature is no more required, closing the issue
/close

[2019-06-06 06:18] #30 closed

[2019-06-10 04:49] krishnadurai opened #174 "Prometheus Operator for Pytorch"
Metrics being targeted to track using Prometheus: 
Report for each pod, reports on:
- [x] CPU usage
- [x] GPU usage
- [x] Memory usage
- [x] Network usage
- [x] I/O usage
- [x] Keep-Alive check
- [x] Is Leader check
2. Report TFJob metrics:
- [x] Job creation
- [x] Job deletion
- [x] Jobs created per hour
- [x] Successful job completions
- [x] Job Failures

Master issue: https://github.com/kubeflo

[2019-06-26 13:11] johanfleury opened #182 "Add documentation on RBAC authorizations"
Hi.

I was having a look at the [`rbac.yaml` manifest](pytorch-operator/manifests/rbac.yaml) and I have trouble understanding what every authorizations are used to.

For instance, the `pytorch-operator` is granted **all accesses** to `ConfigMaps`, `PersistentVolumeClaims`, `StorageClasses`, or `Services` but as there is no explanation, one need to dig into the Go code to understand what's the purp

[2019-06-26 15:40] johanfleury commented on #182
Also, I just found that this file might not be up to date as `pytorch-operator` was not able to update `pytorchjobs/status`:

[code]

[2019-06-26 16:00] johanfleury opened #183 "Implement "earlier" resource validation"
Hi

Currently, when a new `PytorchJob` is created the Kubernetes API will only check if it matches the [schema defined in the `CRD`](https://github.com/kubeflow/pytorch-operator/blob/master/manifests/crd.yaml#L21), but the "real" validation is done in pkg/apis/pytorch/validation/validation.go, but this is too late in the process (for instance, when you deploy with a CI/CD tool you want the error t

[2019-06-27 03:11] johnugeorge commented on #160
Closing this as all PRs are merged
/close

[2019-06-27 03:11] #160 closed

[2019-06-27 03:11] johnugeorge commented on #174
Closing this as all PRs are merged

[2019-06-27 03:12] johnugeorge commented on #174
/close

[2019-06-27 03:12] #174 closed

[2019-06-27 03:13] johnugeorge commented on #183
Yes. There is an issue tracking this in tf-operator.  https://github.com/kubeflow/tf-operator/issues/1016

This can be taken up in 0.7

[2019-07-03 21:43] kunmingg opened #185 "resolve test image conflict"
There are test image naming conflict:
Both `pytorch-dist-mnist_test` and `pytorch-dist-mnist-test` are used.
And Version conflict:
Both `1.0` and `v1.0` are used.

We should unify image naming.

[2019-07-03 21:44] kunmingg commented on #185
@johnugeorge @richardsliu

[2019-07-04 02:08] johnugeorge commented on #185
we are currently using pytorch-dist-mnist-test:v1.0 and pytorch-dist-sendrecv-test:v1.0 for our examples and presubmits

The other images can be deleted
@kunmingg

[2019-07-05 09:09] zlcnju opened #186 "gang schedule bug"
Now, the pytorch operator will not create worker pod until master pod is running. However,  when use kube-batch, it will schedule until all pods created. So now, when use gang schedule, the master will always in the pending state.

The quick fix is exclude the master pod in the batch. This way, the master is first created, and the podgroup and worker pod will be created after the master pod is run

[2019-07-05 09:11] zlcnju commented on #186
@johnugeorge

[2019-07-05 09:40] johnugeorge commented on #186
@zlcnju Thanks for finding this issue.

Instead of worker pods waiting to get created before the master pod is running,  you propose to have worker pods created together with master pods but wait till it is running(via init containers to check master pod readiness). Did I get it right?

Solution 2 looks ok to me. I would wait for @gaocegege and @richardsliu 's comments.

[2019-07-05 09:46] johnugeorge commented on #186
one other quick fix would be skip the workers waiting to get created if gang scheduling is enabled. (https://github.com/kubeflow/pytorch-operator/blob/master/pkg/controller.v1/pytorch/pod.go#L60)

[2019-07-05 09:55] gaocegege commented on #186
Thanks for your issue

Is it a limitation of pytorch?

[2019-07-05 10:00] johnugeorge commented on #186
Yes. Pytorch workers will crash if master is not up.  Reference: https://github.com/kubeflow/pytorch-operator/issues/125

[2019-07-05 10:03] zlcnju commented on #186
if skip the workers waiting to get created if gang scheduling is enabled, the order in gang schedule will not be guaranteed
The quick fix i means is that exclude the master in the batch (https://github.com/kubeflow/pytorch-operator/blob/6aa39a411eb9fe5e62b54b0a3cf09225abe7d551/pkg/controller.v1/pytorch/controller.go#L440)

[2019-07-05 10:09] zlcnju commented on #186
@johnugeorge you got me

[2019-07-05 10:09] gaocegege commented on #186
Then how can we get the benefit from gang scheduling?

[2019-07-05 10:10] gaocegege commented on #186
Solution 2 looks ok to me.

[2019-07-05 10:15] johnugeorge commented on #186
What do you mean by "Order will not guaranteed"? I meant to say that if gang scheduling is enabled, don't do explicit check of master being running before the worker pods.  ie, start all pods immediately(like the initial implementation).

I think, this will be a hack.  Solution 2 is a better solution.

[2019-07-05 10:18] zlcnju commented on #186
The benefit is only for the worker pod this way

[2019-07-05 10:21] zlcnju commented on #186
No matter the gang scheduling is the enabled, The worker pod should be created after the master pod is running.

[2019-07-05 10:23] zlcnju commented on #186
If no objections, i will work on solution 2

[2019-07-05 10:43] johnugeorge commented on #186
Sure.

[2019-07-08 06:13] YesterdayxD commented on #186
@zlcnju i have same problem ,but i don‘’t understand your Solution 2 .Can you describe that what init containor dose? How do I write my yaml ?

[2019-07-08 08:28] ilchemla commented on #89
Any news about this issue?

[2019-07-08 08:36] johnugeorge commented on #89
Can mpi-operator solve your issue? What is your use case?

[2019-07-08 10:24] zlcnju commented on #186
in solution 2, all pods start up the same time. And the order in master and worker will be ensured by init container.
In the pr, the yaml is the same.  But if you want your custom init container, just modify the configmap pytorch-operator

[2019-07-19 09:44] miguelvr opened #190 "Integration into kubeflow pipeline"
I'm completely new to kubeflow, but the main advantage of it from my perspective is the usage of pipelines to setup production ready end to end machine learning workflows.

I'm trying to port production code that we have into a kubeflow pipeline. However, one of the steps is to perform distributed training. I understand how to set up a pipeline that uses a small number of GPUs within the same pod,

[2019-07-25 19:36] #186 closed

[2019-08-05 07:59] hmtai opened #195 "Use multi-stage build for pytorch operator Dockerfile"
Now when user build pytorch operator image,he need build the pytorch operator binary first then use the Dockerfile to build the image.

Actually this can be built with docker multi-stage build to build the image only in one docker file.

[2019-08-05 08:11] gaocegege commented on #195
Yeah, I think so.

/cc @johnugeorge

BTW, we should do it for tf-operator, too.

@hmtai Are you interested in the issue? I'd appreciate if you could help us.

[2019-08-05 08:12] gaocegege commented on #195
/kind feature

[2019-08-07 19:38] YYStreet opened #202 "NCCL backend did not start distributed training"
I am trying to deploy distributed MNIST training on EKS by NCCL backend. However it seems like the NCCL does not work well. I use similar approach and success on GLOO backend

The message from master node:

[code]
And the message from worker node:

[code]

Here are corresponding steps I am using to deploy the job
[code]

And the corresponding pytorch_multi_node_training.yaml looks like it:
[code]

[2019-08-07 20:03] YYStreet opened #203 "MPI distributed training job failed on master node with message "MPI process group does not support multi-GPU collectives" but succeed on worker node"
I am trying to deploy distributed MNIST training on EKS by MPI backend. However it seems like the master node does not work with message "MPI process group does not support multi-GPU collectives"

Here is the detailed output message from master node:
[code]

In the meantime, worker node works smoothly and finished the job quickly.

Here are corresponding steps I am using to deploy the job
[code]

[2019-08-12 02:01] wynn5a opened #205 "Can I use deployment.yaml in manifests directly"
Hello,

Can I use deployment.yaml in manifests without change anything?
Which version of operator image should I use when my pytorchjob version is v1beta2?

Thanks for your help.

[2019-08-12 03:24] johnugeorge commented on #205
Yes. Latest image https://github.com/kubeflow/manifests/blob/master/pytorch-job/pytorch-operator/base/kustomization.yaml  should support both v1 and v1beta2 versions

[2019-08-12 05:48] wynn5a commented on #205
OK, Thank you @johnugeorge

[2019-08-12 05:48] #205 closed

[2019-08-15 13:32] xiaqunfeng opened #206 "Failed to deploy pytorch operator"
Pytorch-operator pod return CrashLoopBackOff when I try to deploy it. The output information is as follows:
1. crd info
[code]
2. create pytorch-operator
[code]
3. get pod
[code]
4. check pod describe
[code]
5. check log
[code]

Error occurred in the log:
[code]
I don't know what can I do next to solve this problem. Looking forward to some help.

[2019-08-15 13:57] johnugeorge commented on #206
what is the API version?

kubectl get crd pytorchjobs.kubeflow.org   -o yaml

[2019-08-15 14:01] xiaqunfeng commented on #206
apiVersion: apiextensions.k8s.io/v1beta1

[2019-08-15 14:04] johnugeorge commented on #206
I think, this is the problem. CRD version looks old. Did you install previous versions before?

Can you try deleting the operator again? Ensure that crd is also deleted. And redeploy again

[2019-08-15 14:23] xiaqunfeng commented on #206
1. I haven't installed previous version before
2. I delete the operator, and the crd is deleted too. When I redeploy again, the same error.
my deploy command pipline:
[code]

[2019-08-15 14:49] johnugeorge commented on #206
This is strange. CRD is not matching the version in the master. https://github.com/kubeflow/kubeflow/blob/master/kubeflow/pytorch-job/pytorch-operator.libsonnet#L48

ks show default -c pytorch-operator

Btw, we are not using ksonnet anymore. From 0.6, we moved from ksonnet to kustomize. https://github.com/kubeflow/manifests/tree/master/pytorch-job

[2019-08-16 01:42] xiaqunfeng commented on #206
The output of CMD `ks show default -c pytorch-operator` is  as follows:
[code]
It show that the apiVersion not always the same.

[2019-08-16 10:00] xiaqunfeng commented on #206
I try to use kustomize deploy pytorch operator. I create crd failed.
Is there something wrong with the way I use it?
1. create crd
[code]
2. create pytorch operator
[code]
the same error.

[2019-08-16 10:20] johnugeorge commented on #206
which k8s cluster version are you using?

[2019-08-16 10:59] xiaqunfeng commented on #206
[code]

[2019-08-16 11:26] johnugeorge commented on #206
Support for multiple CRD versions required  k8s v1.11.0 or higher.  Can you upgrade k8s and try?

[2019-08-19 09:58] xiaqunfeng commented on #206
I redeployed it under k8s v1.14.4, and it worked. Thank you for your patient reply.

[2019-08-19 10:03] gaocegege commented on #206
/close

Thanks

@johnugeorge @xiaqunfeng

[2019-08-19 10:03] #206 closed

[2019-08-29 08:00] johnugeorge commented on #195
Closing the issue as PR is merge
/close

[2019-08-29 08:00] #195 closed

[2019-08-29 08:02] johnugeorge commented on #182
Manifests are updated in https://github.com/kubeflow/pytorch-operator/pull/200

[2019-08-29 08:04] johnugeorge commented on #203
@YYStreet Seems like this issue is not in the scope of Pytorch-operator. Can you post this in Pytorch forums?

[2019-08-29 08:08] johnugeorge commented on #183
/area 0.7.0

[2019-08-29 08:09] johnugeorge commented on #182
/area 0.7.0

[2019-08-29 08:09] johnugeorge commented on #190
We don't have it added into pipeline yet

[2019-08-29 08:25] johnugeorge opened #211 "Add controller-name label for Pods and services"
Since job label is renamed to common label 'job-name', controller-name is required for pods and services to distinguish the operator.

Related: https://github.com/kubeflow/tf-operator/issues/1066

[2019-08-29 08:25] johnugeorge commented on #211
/area 0.7.0

[2019-08-29 09:04] gaocegege commented on #211
We can refer to https://github.com/kubeflow/tf-operator/pull/1067/files

[2019-08-29 09:05] johnugeorge commented on #211
Yes.
/assign

[2019-09-04 09:06] johnugeorge commented on #211
Merged as part of https://github.com/kubeflow/pytorch-operator/pull/212

[2019-09-04 09:06] johnugeorge commented on #211
Closing this issue
/close

[2019-09-04 09:06] #211 closed

[2019-09-04 09:08] johnugeorge commented on #202
Sorry for late reply. Are you still seeing the issue?

[2019-09-04 11:41] xiaoluwwwxiaolu commented on #202
I have the  same question.

[2019-09-05 04:20] johnugeorge opened #214 "PyTorchJob 1.0"
## Requirements
### Configuration and deployment

Description | Category | Status | Issue
-- | -- | -- | --
Kustomize package | Required | Done |  
Application CR | Required | Done |  
Images listed in kustomization.yaml | Required | Done |  
Upgradeability | Required | Done |  
Separate cluster scoped and namespace scoped resources | Recommended | Not Done |
Kustomize package should be deployable

[2019-09-05 04:28] gaocegege commented on #214
Maybe we should open an issue for Separate cluster scoped and namespace scoped resources, too.

[2019-09-05 04:40] johnugeorge opened #215 "Separate cluster scoped and namespace scoped resources"
Related: #214

[2019-09-15 12:23] meandmymind opened #219 "Right way to use pytorch-operator for multi-node multi-gpu setup"
Hi! Suppose in my cluster I have 2 nodes with 2 gpus each. What is the better practice for using all 4 gpus:
1. To spawn 4 pods with 1 gpu per each
or
2. To spawn 2 pods with 2 gpus each?

I've seen similar issues: #128 and #30, but they do not give clear instrunctions on what variant is best.

Also, as mentioned in mentioned issues, using multiple gpus per pod requires code changes according to 1

[2019-09-18 22:05] mengdong commented on #219
Observe the same issue, ideally, I want to run:
Node 1:

python -m torch.distributed.launch --nproc_per_node=2     /
               --nnodes=2 --node_rank=0 --master_addr=masterAddr /
               --master_port=1234 train.py  .........

Node 2:

python -m torch.distributed.launch --nproc_per_node=2     /
               --nnodes=2 --node_rank=1 --master_addr=masterAddr /
               --master_p

[2019-09-19 01:35] gaocegege commented on #219
/assign @johnugeorge @gaocegege

[2019-09-23 06:00] johnugeorge commented on #219
@meandmymind Unfortunately, we don't have results for it. It depends on the setup and the workloads that you use. The benchmark results can vary based on that.

[2019-09-23 11:38] meandmymind commented on #219
@johnugeorge Do you have plans on making these banchmarks?

What I'm really interested is how to actually test multi-gpu-per-pod setup.

I tested mnist-ddp example with following setup
* Node1 - 2 gpu, Node2 - 2 gpu
* Master - 1 replica, Worker - 1 replica
* Master: `limits: nvidia.com/gpu: 2`, Worker: `limits: nvidia.com/gpu: 2`

I observed only 1 gpu/node was actually used, and the other one was

[2019-09-24 01:36] gaocegege commented on #219
It depends on the network infra of your Kubernetes cluster. In some cases, yes, in other cases, no.

[2019-09-25 05:23] mengdong commented on #219
@gaocegege Could you elaborate on what is the condition that inter-pod cost less than inter-process? Thanks

[2019-09-25 12:39] meandmymind commented on #219
@gaocegege I guess if some pod previously had 2 gpus (on one node) and then it divided into 2 pods with 1 gpus each, both pods will be allocated on the same node. So it seems to me that inter-pod connection overhead will be of no significance.

[2019-09-25 20:25] mengdong commented on #219
but both pod on the same node is not "less than"

[2019-09-25 20:27] mengdong commented on #219
Know how much the overhead is would help too.

[2019-09-26 02:50] gaocegege commented on #219
It differs from your network configuration (nic, network plugin and so on) in your cluster. I think it is better to run some evaluations to get the real info about your cluster.

BTW, gang scheduling is also supported for TFJob and PyTorch. It is helpful to avoid the inter-node communication. But not helpful to avoid inter-pod communication.

[2019-09-28 15:30] johnugeorge commented on #202
NCCL works fine with the image gcr.io/kubeflow-ci/pytorch-dist-mnist-test:v1.0  and config file https://github.com/kubeflow/pytorch-operator/blob/master/examples/mnist/v1/pytorch_job_mnist_nccl.yaml

[2019-09-28 15:36] johnugeorge commented on #202
It looks like a problem with the code which is outside the scope of operator. Please ask in Pytorch forums.

[2019-09-29 10:57] johnugeorge commented on #202
/cl

[2019-09-29 10:57] #202 closed

[2019-09-30 01:43] #182 closed

[2019-10-10 04:44] meandmymind commented on #190
@johnugeorge Hi! Do you have any roadmap about integrating into pipelines?

Looking at [TFJob pipeline integration](https://github.com/kubeflow/pipelines/blob/master/components/kubeflow/launcher/src/launch_tf_job.py) it seems not to be hard.

[2019-10-11 02:21] mengdong opened #224 "allocating master and work on different GPU nodes"
When allocating master and worker on GPU nodes on GKE, I notice it is working when master and workers are on the same node, however, if some worker got allocated to a different GPU node, it will stuck on ContainerCreating stage forever.

[2019-10-11 02:23] gaocegege commented on #224
Can you run `kubectl describe` to get the pod info and show the output here?

[2019-10-11 06:34] mengdong commented on #224
I release it is due to a separate persistent volume issue.

[2019-10-11 06:34] #224 closed

[2019-10-11 22:51] mengdong commented on #219
@gaocegege in my experiment, on single 8*V100 node, 1 pod of 8V100 performances much better than 2 pods of 4V100 for some network bounded training task. I haven't looked into why this happens but worth investigating.

[2019-10-12 01:50] gaocegege commented on #219
Yeah, I think so. I'd appreciate it if you could investigate on it. From my perspective, I think it is caused by the neural network itself, the framework implementation, and network. From pytorch-operator, I think there are little we can do to improve it.

[2019-12-09 13:54] leileiwan opened #228 "Test case "TestDeletePodsAndServices" error"
hi,
  In the file "pkg/controller.v1/pytorch/job_test.go", the test case "TestDeletePodsAndServices " may have something error,
[code]
  Because,now only master pod have service,so I belive that the number of service deletes should be len(masterPods),not include the number of worker pods.

[2019-12-10 01:57] gaocegege commented on #228
SGTM. But why did the CI pass without the change?

/cc @johnugeorge

/kind bug

[2019-12-10 07:17] leileiwan commented on #228
@gaocegege
  Because in this test case, we set the service for worker pod. Then it will run the function "deletePodsAndServices "  which will delete services of all pods with function "DeleteService"(FakeServiceControl). In the "FakeServiceControl ",we delete a service just append it ,so the test case can pass coincidentally.
   Even the CI  can pass this test case, but it‘s confusing. I suggest t

[2019-12-10 07:44] gaocegege commented on #228
Gotcha. Make sense.

@leileiwan Would you like to help us with this issue? Or I can fix it.

[2019-12-10 08:06] leileiwan commented on #228
@gaocegege
Thanks for you give me a chance to fix it,I will try it.

[2019-12-10 08:22] gaocegege commented on #228
@leileiwan

Do not be so polite.

Thanks for your contribution! :tada: :+1:

[2019-12-10 09:39] johnugeorge commented on #228
Great. Thanks @leileiwan for your contribution

[2019-12-10 09:47] jinchihe opened #229 "Failed to set kubeflow in CI test."
Failed to set kubeflow in CI test.
[code]

That's caused by kubeflow/kubeflow#4484, the ksonnet registry has been removed, we need to enhance this accordingly in the CI tests.

[2019-12-11 04:29] #228 closed

[2019-12-11 04:45] leileiwan opened #232 "It will be better to avoid deleting unexisting worker services."
hi，
In the function “ deletePodsAndServices”，we clean the services by delete all the services of pod    including the worker pod. it will be better to avoid deleting unexisting worker services.

reference:
* https://github.com/kubeflow/pytorch-operator/pull/231
* https://github.com/kubeflow/pytorch-operator/issues/228
[code]

[2019-12-11 06:54] gaocegege commented on #232
/kind feature

[2019-12-12 11:43] #232 closed

[2019-12-14 10:50] leileiwan opened #234 "Unstructured converted to Pytorch Job Anonymous field error when json uses inline mode"
- [1. Introduction](#1-introduction)
    - [1.1 Enviroment](#11-enviroment)
    - [1.2 Problem Description](#12-problem-description)
- [2. problem analysis](#2-problem-analysis)
    - [2.1 the core process of this test case](#21-the-core-process-of-this-test-case)
    - [2.2 Analyzing the code](#22-analyzing-the-code)
        - [2.2.1 Important Information](#221-important-information)
        - [2

[2019-12-16 05:48] xrmzju opened #236 "add cpu/mem resource limit to worker init container causes unmarshal error"
i create a configmap to customize the worker init container(add cpu/mem limits)
[code]
and the pytorch controller failed to create worker pod with errors:
[code]
and i googled it and found this [issue](https://github.com/kubernetes/apimachinery/issues/67), so i tried replace the "gopkg.in/yaml.v2" with "github.com/kubernetes-sigs/yaml" and everything works fine. should we replace it in upstream

[2019-12-16 05:48] xrmzju commented on #236
@gaocegege

[2019-12-16 05:51] gaocegege commented on #236
I think we should

/cc @johnugeorge

@xrmzju Are you interested in it? I'd appreciate if you could fix it.

[2019-12-16 05:53] xrmzju commented on #236
i'll take it. and by the way, should we replace the godep with go mod?

[2019-12-16 05:55] gaocegege commented on #236
@xrmzju We have the plan but I did not have the bandwidth for it. If you have time, please replace it with go mod. Thanks.

[2019-12-16 05:56] xrmzju commented on #236
sure, i have already replace it in my own repo. i'll open the pr soon.

[2019-12-16 05:58] Nintorac opened #237 "GCP preemptible instances"
Just wondering how this operator handles being run on preemptible GCP instances and where I can find more documentation on the subject

Thanks

[2019-12-16 06:00] johnugeorge commented on #236
Sounds good to me.
we can do go mod separately. we have to do it for other repos too.

[2019-12-16 06:04] gaocegege commented on #236
Agree.

[2019-12-16 06:45] johnugeorge commented on #237
Can you explain more on your requirements?

[2019-12-16 07:59] #236 closed

[2019-12-18 04:47] #234 closed

[2020-01-02 03:12] MATRIX4284 opened #245 "Pytorch Docker image pytorch/pytorch:1.2-cuda10.0-cudnn7-runtime does not have cuda so unable to use GPU"
the pytorcg docker image pytorch/pytorch:1.0-cuda10.0-cudnn7-runtime used in examples/mnist Dockerfile cannot use GPU for mnist.py eaxmple always giving cuda as False.

This is because the cuda is not installed properly

kubectl exec -it pytorch-dist-mnist-gloo-worker-0 -n default -- /bin/bash
which cuda will give no results.

We have to use an appropriate Docker image which is capable of running

[2020-01-03 15:54] MATRIX4284 commented on #245
PR #248 is the resolution

[2020-01-06 13:57] jlewi opened #249 "Add licenses for dependencies in PyTorch Operator Image"
/kind feature

Related to https://github.com/kubeflow/testing/issues/539

Need to add all license content for thrid-party dependencies in PyTorch operator images.

[2020-01-08 12:10] johnugeorge commented on #249
/assign

[2020-01-08 17:57] #249 closed

[2020-01-14 20:59] jtfogarty commented on #219
/kind question
/area engprod
/priority p2

[2020-01-14 21:00] jtfogarty commented on #215
/kind feature
/area engprod
/priority p2

[2020-01-14 21:03] jtfogarty commented on #214
/kind feature
/area engprod
/priority p2

[2020-01-14 21:14] jtfogarty commented on #203
/area engprod
/kind feature
/priority p2

[2020-01-14 21:15] jtfogarty commented on #190
/kind question
/area pipelines
/priority p2

[2020-01-14 21:16] jtfogarty commented on #190
/area engprod

[2020-01-14 21:18] jtfogarty commented on #185
/area engprod
/priority p2

[2020-01-14 21:20] jtfogarty commented on #183
/kind feature
/priority p2

[2020-01-14 21:22] jtfogarty commented on #89
/area operator
/kind feature
/priority p2

[2020-01-15 05:48] sakaia opened #254 "Link to CRD definition is broken"
Link to CRD definition is broken from README.md

https://github.com/kubeflow/kubeflow/blob/master/kubeflow/pytorch-job/pytorch-operator.libsonnet#L11

from
https://github.com/kubeflow/pytorch-operator/blob/master/README.md

I guess CRD definition seems following directory. But I am not sure
https://github.com/kubeflow/manifests/tree/0fa9c0126f62392d1c27f31711e513b22ef28cbc/pytorch-job

or

https:/

[2020-02-05 15:40] jobvarkey opened #258 "PyTorchJob worker pods crashloops in non-default namespace"
Hello,

I am running kubernetes v1.15.7 and kubeflow 0.70 on a 6 workers node on-prem cluster. each node has 2 GPUs.

The provided mnist.py works fine when running under the default namespace (kubectl apply -f  pytorch_job_mnist_gloo.yaml).

But the worker pod(s) crashloops when submitted under a non-default namespace (for example: kubectl apply -f  pytorch_job_mnist_gloo.yaml -n i70994). The mast

[2020-02-06 01:43] gaocegege commented on #258
It seems that the istio proxy is injected into the training pod. Are you running the job at kubeflow namespace?

[2020-02-06 04:27] jobvarkey commented on #258
The job is running at namespace 'i70994'. This namespace was created when I login to kubeflow UI for the first time. Thanks

[2020-02-06 06:48] gaocegege commented on #258
Can you show me the result of `kubectl describe ns i70994`?

[2020-02-06 14:10] jobvarkey commented on #258
root@0939-jdeml-m01:~# kubectl describe ns i70994
Name:         i70994
Labels:       istio-injection=enabled
              katib-metricscollector-injection=enabled
              serving.kubeflow.org/inferenceservice=enabled
Annotations:  owner: I70994@verisk.com
Status:       Active

No resource quota.

No resource limits.

[2020-02-10 08:37] posix4e opened #259 "Kubernetes 1.6 support"
When is pytorch operator support expected

[2020-02-10 09:36] posix4e commented on #259
The link on the labelers bot is broken

[2020-02-18 13:48] NikeNano commented on #237
Will Pytorch jobs be scheduled to Preemptible GPU:s by default if they are present?

[2020-03-10 06:24] xrmzju opened #260 "cleanPodPolicy Set to Running should clean Running pod"
https://github.com/kubeflow/pytorch-operator/blob/047cf0f41e68e030158f532017a226c18827a660/pkg/controller.v1/pytorch/job.go#L160
we just ignore running policy for now

[2020-03-10 06:25] xrmzju commented on #260
@gaocegege

[2020-03-10 08:55] gaocegege commented on #260
When the PyTorchJob is failed, all replicas should be failed. Then there is no difference between none and running. Then we ignore it. Do you have problem with it?

/cc @johnugeorge

[2020-03-11 06:01] xrmzju commented on #260
but in my condition it seems not like this...
[code]

[2020-03-11 07:52] gaocegege commented on #260
@johnugeorge WDYT

[2020-03-12 04:25] gaocegege opened #261 "[feature] Support CLI argument for init container image"
Now we only support to define the image in the template, I think it will be better if we could support it with an argument `-init-container-image busybox:1.30.0`

[2020-03-12 04:26] gaocegege commented on #261
/assign @gaocegege

[2020-03-17 13:55] igorvalko opened #263 "kubeflow common dependency path to be updated"
Taking [this fix](https://github.com/kubeflow/common/issues/54) into account, now pytorch operator should [depend on](https://github.com/kubeflow/pytorch-operator/blob/ec39dce0f98136ed89668c14130347616b463da5/pkg/apis/pytorch/v1/types.go#L18) `github.com/kubeflow/common/pkg/apis/common/v1` instead of `github.com/kubeflow/common/job_controller/api/v1`

[2020-03-20 13:37] natalytvinova opened #264 "Example PytorchJob is not starting"
I set up Kubeflow  v0.6.0 on Microk8s v1.17.
After executing kubectl create -f pytorch_job_mnist_gloo.yaml from the example I can see PytorchJob created, but no events on it happening and no new pods created.
Is this example still relevant?

[2020-03-26 05:04] #261 closed

[2020-03-31 18:10] maartenpants commented on #264
I have the same issue with Kubeflow v1.0 and Microk8s v1.18

[2020-04-05 18:55] Jeffwan commented on #263
@igorvalko Thanks. I will help on this issue. We recently did some refactor on common and plan to work on training operator to apply the latest changes. Currently, there's no API changes for that change.

[2020-04-08 04:54] 636 commented on #258
Hi @jobvarkey
I guess that this cause is istio-injection enabled on your ns.
Could you try to append below code to template section in pytorch_job_mnist_gloo.yaml.
You can disable istio-injection your PyTorchJob.
[code]
see: https://istio.io/docs/setup/additional-setup/sidecar-injection/

But I don't know if this change affect other problem.
Could anyone explain it ?

By setting this change, I was

[2020-04-20 01:13] aheeruru opened #267 "PyTorch Operator recognizes kubernetes cluster like single machine?"
Hi.

I tested the DataParallel(https://pytorch.org/tutorials/beginner/blitz/data_parallel_tutorial.html) is for single node & mutli gpu on PyTorch Operator.
I have 3 nodes on k8s.
I expected my master and worker pod deployed on one node of k8s cluster, but It deployed every node.

So I wonder that PyTorch Operator recognizes kubernetes cluster like single machine.

Thanks :)

[2020-04-20 01:59] sakaia commented on #264
I also met same issue on my environment (kubeflow v1.0.1 with microk8s 1.15)
the status is follows.

[code]

[2020-04-20 04:03] aheeruru commented on #267
sorry. I misunderstand. closed.

[2020-04-20 04:03] #267 closed

[2020-04-21 05:44] sakaia opened #268 "[examples/smoke_dist] pytorch_job_sendrecv.yaml does not exist in the directory"
`examples/smoke-dist/README.md` documents `pytorch_job_sendrecv.yaml`

But it does not exists on `examples/smoke-dist`

[2020-04-21 06:45] sakaia opened #269 "[examples/mnist]README.md instruction should be modify"
The file directory changes from v1beta1 to v1.
It needs to be fixed to v1 in README.md file

[code]

[2020-04-21 07:18] sakaia commented on #264
In my environment, logs are follows .
I edit `v1/pytorch_job_mnist_gloo.yaml` for image as gcr.io/kubeflow-ci/pytorch_dist_mnist:latest
and comment out GPU.
Is there something needed for running sample?

[code]

[2020-04-21 14:29] czheng94 opened #270 "Rethink distributed Pytorch backoff retry"
Currently, the backoff retries in all replicas are controlled separately.
Either directly restarted by pod controller (`restartPolicy` will be propagated from `ReplicaSpec` to `PodTemplateSpec`)
https://github.com/kubeflow/pytorch-operator/blob/037cd1b18eb77f657f2a4bc8a8334f2a06324b57/pkg/controller.v1/pytorch/pod.go#L283-L289
or restarted in the pytorchjob controller
https://github.com/kubeflow/p

[2020-04-22 04:25] sakaia commented on #264
I edit `pytorch_job_mnist_gloo.yaml` image attribute. it works fine.

[code]

[2020-04-22 04:26] sakaia commented on #264
you should check  the pytorchjob status by

[code]

[2020-04-23 02:05] lmxia commented on #259
you mean v1.16 ?

[2020-04-23 02:10] lmxia commented on #206
I encounter the same problem on kubernetes 1.16.6
I install only pytorch-operator but the operator turn out to

[2020-04-23 05:00] lmxia commented on #206
well, i figured it out.
It's the image tag did't match the crd. the image tag should be vmaster-g047cf0f ragher than v0.6.0

[2020-04-27 02:40] gaocegege commented on #270
/cc @johnugeorge

[2020-04-27 02:42] gaocegege commented on #270
@czheng94 I think elastics training is a hot topic this year. Ref https://github.com/pytorch/elastic

Thus I am not sure if we should do it.

[2020-04-27 10:21] johnugeorge commented on #270
@gaocegege Do you mean change the distributed launch to use the new "elastic" way?

[2020-04-27 14:42] czheng94 commented on #270
@gaocegege elastic training is really cool!

I'm not very familiar with torch elastic (but interested to learn more). Are we thinking about supporting a separate operator for pytorch elastic like this one https://github.com/pytorch/elastic/blob/master/kubernetes/api/v1alpha1/elasticjob_types.go? Or are we going to integrate this into pytorch-operator?

In addition, I'm not sure if torch elastic is

[2020-04-30 01:16] jagan120 commented on #264
After running `docker build`, the image that gets created is on the local repository. This image should be loaded into the microk8s cluster before creating the job. The instructions for this are available [here](https://microk8s.io/docs/registry-images).

[2020-04-30 03:47] sakaia commented on #264
Thank you for your suggestion.
My expection is just working within README.md operation. I hope the document wrote need to edit imege:

[2020-05-11 22:45] panchul opened #271 "Distributed mnist is unexpectedly slow"
I ran `mnist` example with 2 workers on a 2-node Kubernetes cluster running on 2 VMs, and expected it be faster comparing with 1-worker case. However the time actually increased, and was even slower the more workers I added. Made several test runs, timing is reproducible:

- 1 master 1 worker :  100 seconds
- 1 master 2 workers:  2 minutes 56 seconds (176 seconds)
- 1 master 6 workers:  7 minutes

[2020-05-12 01:41] gaocegege commented on #271
How about the bandwidth in your cluster?

[2020-05-18 21:50] Jeffwan commented on #270
I wrote the pytorch ealstic controller in `pytorch/elastic` repo. Overall, it's very similar to existing operators. However, we can not use it seamlessly here because it requires a strong consistency store and the way to setup clusterEnv is a little bit different.

I suggest to use it separately at this moment. While, we should consider elasticity of all frameworks and fine a generate way to handl

[2020-05-18 22:45] Jeffwan opened #273 "Cut release on pytorch operator"
Tensorflow and PyTorch uses branches rather than tags for dependency management. Since we may make some breaking changes in the repo. I would suggest to cut a release and tags as well.

My proposed change is

v0.7.0 release - https://github.com/kubeflow/pytorch-operator/commit/6097519829bea048dad541b8b506366263ecd1e8

This is last change in v0.7-branch.

v1.0.0 release - https://github.com/kubeflo

[2020-05-19 01:45] gaocegege commented on #273
SGTM.

[2020-05-19 21:14] Jeffwan commented on #273
/cc @johnugeorge  wait for confirmation

[2020-05-26 18:19] panchul commented on #271
@gaocegege , local network, no unusual bottlenecks.

[2020-05-27 05:16] johnugeorge commented on #273
SGTM. Lets do a release

[2020-06-01 07:01] wangdian opened #275 "OCI Runtime error for init-pytorch on AKS"
Hi team:
    When we using pytorch-operator to submit training job. Sometimes it fails on init container init-pytorch.
    It seems that the memory limitation is too low.  I found in pytorch-operator the limit for this init container is 10Mi, and I wonder if it is the cause.
https://github.com/kubeflow/pytorch-operator/blob/b7fef224fef1ef0117f6e74961b557270fcf4b04/pkg/common/config/config.go#L19

[2020-06-05 17:15] johnugeorge commented on #275
Can you try again with latest build?

Higher requests are added in https://github.com/kubeflow/pytorch-operator/pull/276/files

[2020-06-10 12:27] jiaqianjing opened #278 "How to run single-machine job？"
I found  that the value of master can only be set to 1 . Can I only run distributed job by pytorch-operator ?

[2020-06-11 01:36] gaocegege commented on #278
No, you can have 1 Master to run local training jobs.

/cc @johnugeorge

[2020-06-11 01:45] jiaqianjing commented on #278
ok, I had got it

[2020-06-11 01:45] #278 closed

[2020-06-11 01:47] gaocegege commented on #278
Feel free to post questions here if there is any problem when you run local training jobs with pytorch-operator.

[2020-06-11 01:57] jiaqianjing commented on #278
3q. By the way, could I have your Wechat?

[2020-06-11 02:17] gaocegege commented on #278
Please tell me your mail address, I will send to you.

[2020-06-11 03:12] jiaqianjing commented on #278
jiaqianjing@gmail.com or jiaqianjing1992@163.com

[2020-06-11 03:28] gaocegege commented on #278
sent to jiaqianjing@gmail.com

[2020-06-11 09:46] jiaqianjing opened #279 "Why worker has init container wait for master ready?"
![image](https://user-images.githubusercontent.com/16071449/84370546-fba89000-ac0a-11ea-8d68-b31896e9b25e.png)
why not set large timeout at `torch.distributed.init_process_group(backend, init_method=None, timeout=datetime.timedelta(0, 1800), world_size=-1, rank=-1, store=None, group_name='')`?
What's the meaning of adding this？

[2020-06-11 10:18] gaocegege commented on #279
I think it is a user-level config. We cannot rely on it at the system level.

[2020-06-11 11:46] jiaqianjing commented on #279
I think so, but looks like a little weak. Are there any other considerations？

[2020-06-15 20:25] g-karthik opened #281 "Where are the pytorch-crd and pytorch-operator YAML files?"
For mpi-operator, the commands are as simple as:

`kubectl apply -f https://raw.githubusercontent.com/kubeflow/mpi-operator/master/deploy/v1alpha2/mpi-operator.yaml `

where the official mpi-operator yaml files are hosted on the corresponding repo.

Where exactly is the pytorch-operator yaml hosted? I'm looking for a simple way to apply it with kubectl without needing to install/setup kubeflow.

[2020-06-16 07:57] 535727234 commented on #281
crd:https://github.com/kubeflow/pytorch-operator/blob/master/manifests/crd.yaml
deployment:https://github.com/kubeflow/pytorch-operator/blob/master/manifests/deployment.yaml

[2020-06-16 23:09] Jeffwan opened #282 "Migrate code implementation to kubeflow/common fashion"
kubeflow/common release a stable version 0.3.1 and we can migrate to use implementation of kubeflow/common.

The change will be similar to change https://github.com/kubeflow/tf-operator/pull/1171.

It would be better to resolve dependencies, upgrade to 0.3.1 for interfaces, and then update implementation.

Hope this can be part of 1.1 release.

[2020-06-17 02:03] g-karthik commented on #281
@535727234 thanks! To be clear, does this mean one does not need to install kubeflow and just using `kubectl apply` with those YAML files is sufficient?

Because [here](https://www.kubeflow.org/docs/components/training/pytorch/) it says that kubeflow and kustomize need to be installed first.

[code]

[2020-06-17 02:05] gaocegege commented on #281
Yeah, you do not need to install kubeflow if you just want to use pytorch-operator.

[2020-06-17 02:05] gaocegege commented on #281
Kubeflow docs provide a unified approach to install kubeflow components. But it is not the only way.

[2020-06-17 02:06] gaocegege commented on #281
/close

[2020-06-17 02:06] #281 closed

[2020-06-17 02:06] gaocegege commented on #281
@535727234 Thanks for your reply!

[2020-06-17 03:52] johnugeorge commented on #282
I am worried if it is little late for the 1.1 release. TF-operator one too has not been tested extensively with common.

[2020-06-18 04:39] xq2005 commented on #271
@panchul I met similar problem when using DataParallel(...) in code, but I did not find good solution. Distribute deep learning learning workload tightly depends on the network bandwidth.  If there is not bottlenecks on network, try to enlarge the batch size based on the number of workers.

Refer [https://github.com/pytorch/pytorch/issues/3917](url) for more detail.

[2020-06-19 04:06] gaocegege opened #283 "Do we need pod name and namespace in manifests?"
https://github.com/kubeflow/pytorch-operator/blob/master/manifests/deployment.yaml#L22

I think we can remove it.

/cc @johnugeorge

WDYT, I think we do not use it

[2020-06-19 04:09] jiaqianjing commented on #283
watch

[2020-06-19 19:00] Jeffwan commented on #282
@johnugeorge Yeah, If we can not catch 1.1 release, I think we can postpone to next release. As TF and Pytorch already graduate to v1, we definitely need more test to avoid regression issues.

[2020-06-23 02:27] shawnzhu commented on #258
Could anyone explain it ?

This comment provides details https://github.com/kubeflow/kubeflow/issues/4935#issuecomment-615256808

Basically if it disables Istio sidecar injection, **ANY** pod within a cluster can access your pytorchjob pods via pod name without mTLS. e.g., `pytorch-dist-mnist-gloo-master-0.<namespace>`.

By default, when running a PyTorchJob in user namespace profile which has IST

[2020-06-23 03:01] sakaia opened #284 "PyTorchJob CRD definition link is broken"
In Following document, link to CRD definition is broken.(it causes 404 error)
https://github.com/kubeflow/pytorch-operator/blob/master/README.md

I guess it should be linked to

https://www.kubeflow.org/docs/reference/pytorchjob/v1/
or
https://github.com/kubeflow/website/blob/d0bd0e031453d12e704d0636f9ad192c866a327c/content/en/docs/reference/pytorchjob/v1/pytorch.md

[2020-06-29 04:00] houz42 opened #287 "how to create a local non-distributed training"
as defined in the crd, worker replicas must >= 1, and master replica == 1, so how to create such a training job runs on single node?

https://github.com/kubeflow/pytorch-operator/blob/eba73411bc03d70b72dcab623aa7a01c14f811d4/manifests/crd.yaml#L37

[2020-06-29 04:07] houz42 commented on #287
@gaocegege you metioned in another issue (https://github.com/kubeflow/pytorch-operator/issues/278#issuecomment-642353290) that:

But I just can not create a pytorchjob without worker.

[2020-06-29 04:51] gaocegege commented on #287
Then you can try to create one worker job.

[2020-06-29 05:12] houz42 commented on #287
A pytorchjob with no master? can't create it neither, master replica must be 1

[2020-06-29 06:01] gaocegege commented on #287
I tried to create one master job and it works. Can you explain more about `But I just can not create a pytorchjob without worker.`

Is there any error during the run?

[2020-06-29 15:09] houz42 commented on #287
I finally realized it was my fault. I dit not create "a pytorchjob with only 1 master", but "a pytorchjob with 1 master and 0 worker", which was denied during validation.

Sorry for my mistake and thanks for your patient.

[2020-06-29 15:09] #287 closed

[2020-06-30 07:55] wangdian commented on #275
The new resource limit works. Thanks!
Sorry for late response.

[2020-06-30 07:55] #275 closed

[2020-07-10 20:04] Lyken17 opened #291 "'./pytorch_job_sendrecv.yaml' missing in pytorch-operator/examples/smoke-dist"
In [smoke-dist](https://github.com/kubeflow/pytorch-operator/tree/master/examples/smoke-dist), it says

Create the PyTorch job
[code]

But the `pytorch_job_sendrecv.yaml` is not there.

[2020-07-29 05:58] gaocegege opened #292 "[bug] Unit test is broken"
https://travis-ci.org/github/kubeflow/pytorch-operator/builds

Our unit test cases are failed but we did not find it.

It seems that Travis CI does not show status in PR page.

[2020-07-29 05:58] gaocegege commented on #292
/priority p0
/kind bug

[2020-07-29 05:59] gaocegege commented on #292
/cc @johnugeorge @andreyvelich

[2020-08-03 12:20] johnugeorge commented on #292
/cc @jlewi

[2020-08-04 02:29] myonlyzzy opened #294 "pytorch-operator pod CheckCRDExist failed"
I use manifests dir [yaml](https://github.com/kubeflow/pytorch-operator/tree/master/manifests) file create pytorch-operator deployment, but pod status is error.

[code]
k8s version: Server Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.4", GitCommit:"67d2fcf276fcd9cf743ad4be9a9ef5828adc082f", GitTreeState:"clean", BuildDate:"2019-09-18T14:41:55Z", GoVersion:"go1.12.9", Compiler:"gc

[2020-08-04 02:30] gaocegege commented on #294
Did you create the CRD?

[2020-08-04 02:49] myonlyzzy commented on #294
I create crd but checkCRD, I think the problem maybe image. use gcr.io/kubeflow-images-public/pytorch-operator:latest or  image that build form  Dockerfile   ok.

[2020-08-12 14:43] hyperparameters commented on #128
@jwwandy how do set ip address of master pod `--master_addr` this argument , when the job is created the master and worker pods are up at the same time.. so how do we know beforehand the ip of master pod.
All the other environment variable can be set, need some help with this
also do we have to launch our script with `python -m torch.distributed.launch`

[2020-08-14 03:29] jwwandy commented on #128
@hyperparameters It has been a while since last time I worked on it. From my experience, Pytorch-operator will set up environment variable `MASTER_ADDR` for your worker pods. It should work fine if you collect environment variables and pass it into that pytorch script. However, Kubeflow has released numerous new versions in the past 18 months, so the information I provided might be outdated. Try i

[2020-08-14 15:21] hyperparameters commented on #128
@jwwandy thankyou for quick response. Yes it worked without the need to explicitly set the variable.
Also if you could point to any good examples on how to setup multi node training with pytorch, it will be really helpful

[2020-09-01 17:01] Jeffwan opened #296 "Support Torch Elastic in pytorch operator"
[TorchElastic](https://pytorch.org/elastic/) enables distributed PyTorch training jobs to be executed in a fault tolerant and elastic manner.

Use cases:

- Fault Tolerance: jobs that run on infrastructure where nodes get replaced frequently, either due to flaky hardware or by design. Or mission critical production grade jobs that need to be run with resilience to failures.

- Dynamic Capacity Man

[2020-09-07 15:58] andreyvelich opened #299 "Activate Travis in PR check"
We should activate Travis check in presubmit and postsubmit.

Also goveralls should report status for coveralls (See comment: https://github.com/kubeflow/pytorch-operator/pull/293#issuecomment-666045781).

/cc @johnugeorge @gaocegege
/priority p1

[2020-09-10 21:29] Jeffwan opened #302 "Make manifest test friendly"
Currently, it's using https://github.com/kubeflow/pytorch-operator/blob/61fefa88f75b126fd7672f44b87351db511299cb/scripts/setup-kubeflow.sh#L37 ksonnet manifest for PyTorch testing from v.0.7.0 tag.

it should use master manifest instead because if manifest needs a change, current testing can not support that case.

We already have `/manifest` and it just need some changes to have `kustomization.ya

[2020-10-08 18:04] Jeffwan commented on #296
It's blocked on the testing infra now. If it can be not resolved in one week. I will pause tests on this repo and move forward development work

[2020-10-16 10:08] lwj1980s opened #304 "how can I run a pytorch job with all my Gpu resources"
my master node does not have a nvidia gpu resource， my worker node  has 4 GTX 1080ti cards, I want to use all my GPUs, so I
write `resources:
                limits:
                  nvidia.com/gpu: 4
`in my_deploy.yaml. but I encountered warning of 3 Insufficient nvidia.com/gpu, so, how can I use all my GPUs in training process

environment：
ubuntu 18.04 tty
k8s:1.14.0
kubeflow:1.0.2

**here is

[2020-10-21 07:05] lwj1980s commented on #304
I modified the yaml file as bellow, 4 GPU works synchronized , but I am not sure that if it is right, does that realized distribute training?

apiVersion: "kubeflow.org/v1"
kind: "PyTorchJob"
metadata:
  name: "pytorch-dist-mnist-nccl"
spec:
  pytorchReplicaSpecs:
    Master:
      replicas: 1
      restartPolicy: OnFailure
      template:
        metadata:
          annotations:
            sidec

[2020-10-22 17:00] Jeffwan opened #307 "Do not trigger presubmit jobs for simple changes"
Docs changes should not trigger presubmit jobs. This help improve development efficiency and try to reduce testing infra cost.

[2020-10-22 17:01] Jeffwan commented on #302
Included in https://github.com/kubeflow/pytorch-operator/pull/305

[2020-10-22 17:01] #302 closed

[2020-10-22 18:59] Jeffwan commented on #259
pytorch operator has been tested against 1.16 already. Feel free to reopen if you have related questions

[2020-10-22 18:59] #259 closed

[2020-10-22 19:01] Jeffwan commented on #254
This is expected, you can install from `manifest` folder now and if you are looking for kubeflow distribution, check

https://github.com/kubeflow/manifests/tree/master/pytorch-job

[2020-10-22 19:01] #254 closed

[2020-10-22 19:03] Jeffwan commented on #304
"encountered warning of 3 Insufficient nvidia.com/gpu,"

Do you have all your 4 GPUs on one node? Since you use 1 worker before, node has to have 4 GPUs to be qualified to deploy the pod

[2020-10-23 02:54] lwj1980s commented on #304
yes，I have all my 4 GPUs on one node，I think I know why it had failed， thank you very much

[2020-10-23 02:54] #304 closed

[2020-10-27 01:27] lwj1980s opened #310 "can I use gpus on specific node to train"
My k8s Cluster:
master: 4  GTX 1080ti
node1: 4 RTX 2080
node2: 4 RTX 2080

When I  run a pytorchJob， it seems that kubeflow select the gpu automatically. What should I do(write config item on the deploy.yaml or some way else)  if I want to use gpus on node1 or node2 specifically，but not master.

[2020-10-27 15:19] Jeffwan commented on #310
You need to use node affinity/label to choose your right GPU.

https://kubernetes.io/docs/tasks/configure-pod-container/assign-pods-nodes-using-node-affinity/

[2020-10-28 08:33] lwj1980s commented on #310
Thanks very much！

[2020-10-28 08:33] #310 closed

[2020-11-03 09:42] lwj1980s opened #311 "Does pytorch-opterator just simplified the use of nn.parallel.DistributedDataParallel on multi nodes of multi gpu？"
despite of the characters of k8s,  could I considered that pytorch-opterator is kind of one-key deploy of  pytorch DistributedDataParallel  training？

[2020-11-04 02:16] gaocegege commented on #311
Yeah, I think you can. But we do not just deploy, we maintain the lifecycle of the training jobs.

[2020-11-05 07:55] lwj1980s commented on #311
Thank you very much，I have got it

[2020-11-05 07:55] #311 closed

[2020-11-06 06:41] lwj1980s commented on #271
I am coming across the same problem，have you solved it？

[2020-11-30 16:06] rami3e opened #312 "kubeflow pipelines sdk, distributed multi-node training with autoscaling"
I see there are similar issues but still could not get a concrete result in terms of the above. is there an example showing multi node distributed training via the SDK? is [launch.py](https://github.com/pytorch/pytorch/blob/master/torch/distributed/launch.py) the current preferred approach? and how can i get the autoscaler to work with distributed node requests? thanks

[2020-12-01 06:30] gaocegege commented on #312
Do you mean submitting a distributed pytorch job using kfp sdk?

[2020-12-01 07:30] rami3e commented on #312
yes, i understand the distributed training procedure but i see that pipelines submits an argo workflow and am not sure how to coordinate the required global variables as well as the autoscaler picking up the required number of nodes requested (i.e master + x workers)

[2020-12-01 08:37] gaocegege commented on #312
I think it is recommended to use https://github.com/kubeflow/pipelines/tree/master/components/kubeflow/launcher/src to submits distributed training jobs in Kubeflow pipelines. But we do not have such a launcher for PyTorchJob now. I think we should implement it.

/cc @johnugeorge @andreyvelich @Bobgy

[2020-12-15 05:49] Bobgy commented on #312
or you can create the kubernetes custom resource via https://github.com/kubeflow/pipelines/blob/master/samples/core/resource_ops/resource_ops.py in a pipeline step

[2020-12-22 11:14] raven-jia opened #313 "dist.init_process_group stuck"
Hi, I'm trying to start distributed training by kubeflow pytorchjob. However, the

`dist.init_process_group(backend="nccl", init_method='tcp://'+args.master_addr+':'+args.master_port, world_size=args.world_size, rank=args.rank)
    `

doesn't work. If I use os.environ["MASTER_PORT"] as the args.master_addr, it says

If I put pod ip (os.environ["RequestedIP"] which I think if the ip of master pod),

[2020-12-22 11:15] gaocegege commented on #313
Can you verify that the service works well in your environment?

[2020-12-22 11:16] gaocegege commented on #313
We will create a headless service and use that service name to run the training job. Seems that the service discovery is broken.

[2020-12-22 11:18] raven-jia commented on #313
Thanks for replying. How can I verify that?

Could you please provide more explanation? I'm not familiar with the terms... sorry about that!

[2020-12-22 11:23] gaocegege commented on #313
https://kubernetes.io/docs/concepts/services-networking/service/#headless-services

[2020-12-22 11:24] gaocegege commented on #284
Thanks for the issue. Now it works.

[2020-12-22 11:24] #284 closed

[2020-12-22 11:48] raven-jia commented on #313
I didn't create any service. So I should create a headless service first, then deploy the pytorchjob yaml file, right? Or install some add-on like CoreDNS on the k8s cluster?

[2020-12-22 12:00] gaocegege commented on #313
No, pytorch-operator will create such a headless service for you. But pytorch-operator does not guarantee that the serivce works well in your k8s cluster.

[2020-12-23 06:08] raven-jia commented on #313
Thank you very much for the hint. When I deployed a job, it says

I checked demo2-224-pre-master-0, there is indeed not working properly

Then I created a headless service

`
apiVersion: v1
kind: Service
metadata:
  name: pytorchjob-headless-service
spec:
  clusterIP: None
  selector:
    app: pytorchjob-headless-service-selector
  ports:
    - protocol: TCP
      port: 23456
      targetPort: 234

[2020-12-23 06:47] gaocegege commented on #313
Do you have wechat or are you in Slack?

[2020-12-23 06:49] raven-jia commented on #313
just sent a friend request. thank you very much for your time!!

[2021-01-20 08:01] SatwikBhandiwad opened #314 "Please create v1.2-branch"

[2021-01-20 09:57] gaocegege commented on #314
Can you please explain more about this issue? Thanks

[2021-01-20 11:56] SatwikBhandiwad commented on #314
It would be helpful if you can create a branch mapping to kubeflow v1.2.0 [release](https://github.com/kubeflow/kubeflow/releases/tag/v1.2.0) similar to [v1.1-branch](https://github.com/kubeflow/pytorch-operator/tree/v1.1-branch)

[2021-01-25 17:28] #294 closed

[2021-01-26 20:11] ca-scribner commented on #190
I've seen discussion on launchers here and on Kubeflow/Pipelines, but nothing concrete.  Has anyone built a solution for this?  If not, I plan to create one based on the TFJob launcher and can share

[2021-01-27 02:26] gaocegege commented on #190
@ca-scribner Thanks! I do not think there is progress from our side.

[2021-02-03 20:36] ca-scribner opened #317 "Is python sdk still being maintained?"
I started using the python sdk with the intent of making it into a kubeflow pipelines launcher, but noticed some mismatch between the pytorchjob sdk and kubernetes.  Little stuff like:
* pytorchjob's objects are built with swagger whereas kubernetes is now built with openapi, leading to small breaks
* how the `pytorchjob_client.delete()` calls `delete_namespaced_custom_object()` with too many argu

[2021-02-04 01:39] gaocegege commented on #317
We can use corresponding launchers in pipelines to launch the PyTorchJob.

And, the SDK is built for 1.16, I think.

[2021-02-04 01:39] gaocegege commented on #317
cc @johnugeorge

[2021-02-04 03:27] ca-scribner commented on #317
Yeah I liked the extra features in this one, it felt more like something I
could see using from a notebook.  but using the common launch_crd from the
TFJob would be nice. Maybe I can refresh the TFJob one with the extra
features this had while I’m at it.

On Wed, Feb 3, 2021 at 20:39 Ce Gao <notifications@github.com> wrote:

[2021-02-08 17:48] ca-scribner commented on #317
I started looking at refreshing this, but I can't reproduce the existing API.  I'm following the `/hack/python-sdk` scripts, but when I Generate the Python SDK (`java -jar ${SWAGGER_CODEGEN_JAR} ...`) I get an incomplete API.  See below image (left is what repo has, right is what I get when rebuilding):

![pytorch-operator-compare](https://user-images.githubusercontent.com/48125859/107259852-82687

[2021-02-09 01:28] gaocegege commented on #317
/cc @jinchihe

[2021-02-10 00:21] yanniszark opened #318 "PyTorch Operator: Move manifests development upstream"
### Background

Umbrella-Issue: https://github.com/kubeflow/manifests/issues/1740

As part of the work of wg-manifests for 1.3
(https://github.com/kubeflow/manifests/issues/1735), we are moving manifests
development to upstream repos. This gives the application developers full
ownership of their manifests, tracked in a single place.

To give an example from the `notebook-controller`, the diagram s

[2021-02-11 00:33] asahalyft opened #319 "Unlable to spawn PyTorchJob due to image alpine dependency of pytorch-operator"
He Team,
I am trying to use the Pytorch Operator to spawn distributed Pytorch Jobs. I see the image mentioned in https://github.com/kubeflow/pytorch-operator/blob/6293efc19503078953acf04df03a1204fd265e35/manifests/kustomization.yaml#L13 to be `809251082950.dkr.ecr.us-west-2.amazonaws.com/pytorch-operator`. However, that repo is not accessible from inside our network. So, instead I switched to `gcr

[2021-02-13 15:14] jinchihe commented on #317
I will take a look after Chinese New Year Vacation. Thanks a lot!.

[2021-02-13 17:46] ca-scribner commented on #317
ty!

fyi to use the PyTorchJob API (built using swagger) with kubernetes atm (built using the openapi fork or swagger), I've been subclassing like:
[code]

And for a pytorch_launcher where I need a dict of the PyTorchJob to pass to k8s API, `.to_dict()` generated by swagger has a bug where the attribute map (which remaps python-names to k8s-names) wasn't used.  I've been getting around this by ser

[2021-02-18 17:48] asahalyft commented on #319
HI @gaocegege IS there a plan to look/comment on this issue?

[2021-02-19 01:50] gaocegege commented on #319
Yeah, we are trying to use Amazon's new public docker registry. Ref https://github.com/kubeflow/tf-operator/issues/1205

[2021-02-22 20:39] ca-scribner opened #321 "Operator has invalid memory address error on specific pytorchjob spec"
When running the following yaml,

[code]

I encounter a memory address/nil pointer error putting the operator into an infinite crash loop:
[code]

As far as I can tell, this only happens if I include all three of `ttlSecondsAfterFinished: -1`, `activeDeadlineSeconds: -1` and cleanPodPolicy: Running`.  I'm not sure if the -1's are valid inputs, but either way I was surprised that it caused a crash

[2021-02-23 03:18] gaocegege commented on #321
I think it is related to https://github.com/kubeflow/tf-operator/issues/1223

[2021-02-25 06:37] #318 closed

[2021-03-17 15:56] yanniszark opened #322 "pytorch-operator: Consolidate manifests"
Umbrella-Issue: https://github.com/kubeflow/manifests/issues/1769

### PyTorch Operator

#### Current manifests structure

[code]

#### Explanation

- `pytorch-job-crds` and `pytorch-job-operator` came from kubeflow/manifests.
- The other files were the existing kustomization in the upstream repo.
- The `application` overlays contain Application CRs, which we want to move away from (https://github

[2021-03-17 15:57] yanniszark commented on #322
mistakenly opened

[2021-03-17 15:57] #322 closed, assigned to nobody

[2021-03-17 23:01] Jeffwan opened #325 "Mnist dataset server is down"
E2e test is down.  Reason is straightforwad that server report 503 issue and I did some check and notice this has been tracked in torch community.

As the patch is only available on master and there's no way to specify the download path. I can try to either disable that single test case and wait for stable release or build a nightly image which takes extra efforts

[code]

Confirmed this is a serv

[2021-03-17 23:07] andreyvelich commented on #325
@Jeffwan We faced with the same problem in Katib.
We currently using `FashionMNIST ` instead of `MNIST`: https://github.com/kubeflow/katib/blob/master/examples/v1beta1/pytorch-mnist/mnist.py#L137.
I believe it hosts in the PyTorch servers.

[2021-03-18 10:28] yanniszark commented on #325
@andreyvelich this sounds like a good solution.
Another way would be to pre-download the dataset in the image.
The problem is how to make a new image for the example. The current one is from the GCP registry, which is no longer available.

[2021-03-18 18:02] Jeffwan commented on #325
Sounds good. Let me double check if the code is compatible with FashionMnist dataset.  If it is and data server is reliable. We can quickly change to it.

[2021-03-25 04:28] Jeffwan commented on #325
Code has been changed https://github.com/kubeflow/pytorch-operator/pull/327
We need a better way to publish images. This can be done after 1.3 release

[2021-03-25 04:31] Jeffwan commented on #319
`809251082950.dkr.ecr.us-west-2.amazonaws.com/pytorch-operator` is used for internal testing. Once we move to public registry, we will make a change. It's been changed to use GCR in master now.

[2021-03-25 04:33] Jeffwan commented on #314
@SatwikBhandiwad The pattern changes a little bit. We will not create release branch for every kubeflow release.  all operator will have their own versions in the future. Kubeflow will just integrate manifest to it's umbrella.

Feel free to reopen if you need more details

[2021-03-25 04:33] #314 closed

[2021-03-29 02:56] tingweiwu opened #328 "is there a simpler way to install pytorch-operator"
is there a simpler way to install, no need to install kubeflow, only provide yaml like this [mpi-operator.yaml](https://github.com/kubeflow/mpi-operator/blob/master/deploy/v1alpha2/mpi-operator.yaml)

[2021-03-29 03:27] gaocegege commented on #328
Currently, you can use https://github.com/kubeflow/pytorch-operator/tree/master/manifests to deploy pytorch operator. It is the config for kustomize.

[2021-03-30 09:12] tingweiwu commented on #328
@gaocegege Thanks a lot~~

[2021-03-30 09:12] #328 closed

[2021-03-30 12:38] tingweiwu opened #329 "worker get connection timed out error in user namespace with sidecar.istio.io/inject=false"
[code]

when I deploy PyTorchJob above, the worker pod get the error
[code]
 the env in worker pod spec is
[code]

why  `MASTER_ADDR` doesn't be `pytorch-dist-mnist-gloo-master-0.<namespace>.` ?

Additional info:
1) the namespace describe as following

[code]
2) pytorch-operator was installed by kustomize in kube-system namespace
[code]

[2021-04-06 07:35] tingweiwu commented on #329
solved by check the networkpolicy in user namespace

[2021-04-06 07:35] #329 closed

[2021-04-09 15:32] omlomloml opened #330 "can I use PyTorchJobClient inside a pod of the cluster?"
I get 403, if I can use this way, how should I setup the config file?

Thanks

ptc.get(namespace='kubeflow')
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/kubeflow/pytorchjob/api/py_torch_job_client.py", line 134, in get
    pytorchjob = thread.get(constants.APISERVER_TIMEOUT)
  File "/usr/local/lib/python3.7/multiprocessing/pool.py", line 657, in get
    raise

[2021-04-25 08:35] tingweiwu opened #331 "confusion about muti-gpu per one pod"
one master with 1 gpu, and two worker with 2gpu each.
when I submit the PytorchJob, I find the env WORLD_SIZE is 3, why is not 5?

[code]

[2021-04-26 15:22] twolffpiggott opened #332 "NCCL "Connection Refused" for Worker Pods"
## Overview

Referring to the [Distributed MNIST example](https://github.com/kubeflow/pytorch-operator/tree/master/examples/mnist), I am running into an issue where the worker pods return "call to connect returned Connection refused" repeatedly before crashing with an NCCL runtime error.

## Environment

I have verified that:

1. The headless service (same name as the master pod) appears to be cre

[2021-04-27 10:49] twolffpiggott commented on #332
This issue appears to be resolved by setting `NCCL_SOCKET_IFNAME=eth0`.

This is slightly confusing as according to Nvidia's [documentation](https://docs.nvidia.com/deeplearning/nccl/user-guide/docs/env.html#nccl-socket-ifname), the loopback interface should only be selected *if there are no other interfaces available*.

But in the example for this issue, the loopback interface was selected by def

[2021-04-30 08:30] JGoo1 opened #333 "'host not found' error occurs during PyTorch distributed learning"
During the PyTorch Job distributed learning, sometimes the 'Worker' cannot find the 'Master' with below message.
[code]

In pytorch job, 'worker' check connection with 'master' using 'nslookup' command as below, but the connection between 'master' and 'worker' might not be fully ready even if nslookup command succeeds.
[code]
So, I'm using 'netcat' command instead of 'nslookup'.

The following exa

[2021-05-06 01:27] gaocegege commented on #333
I think we should have it, thanks for the issue.

/kind feature

[2021-05-10 08:22] tchaton opened #334 "PyTorch Lightning Example."
Dear Kubeflow team,

A Kubeflow Cluster Environment is being added to PyTorch Lightning: https://github.com/PyTorchLightning/pytorch-lightning/pull/7300.

Would be nice for the Kubeflow team to add a PyTorch Lightning Example using this cluster env.

Best,
T.C

[2021-05-27 07:23] MartinForReal opened #335 "Worker template should be configurable."
The QoS of worker pod created by operator is Burstable due to the resource config here:
https://github.com/kubeflow/pytorch-operator/blob/4aeb6503162465766476519339d3285f75ffe03e/pkg/common/config/config.go#L9-L20

This is a vital issue because only the pods with Guaranteed class can be processed by cpumanager.

[2021-05-27 07:53] johnugeorge commented on #335
We could make them guaranteed or take these values as args

[2021-05-27 09:14] chenwenyan commented on #291
Do you have solved it? It seems that the YAML file is not here yet.

[2021-05-31 01:15] Lyken17 commented on #291
Unfortuantely, no

[2021-05-31 02:17] gaocegege commented on #291
cc @johnugeorge

[2021-05-31 13:49] Shuai-Xie commented on #330
You can use **PyTorchJobClient** in a Pod.

But a proper **ClusterRoleBinding** should be configured for the **ServiceAccounts** at first.

For example, you can apply the `pytorchjobs_access_rbac.yaml` below to get all the access to the PytorchJob resources in a pod behind the `default` ServiceAccount of the `default` namespace.

[code]

[code]

Best Regards.

[2021-06-01 03:39] #291 closed

[2021-06-16 19:52] asahalyft commented on #319
Hi @Jeffwan I am still getting the
[code]
I applied this PytorchJob yaml. I also used kubeflow manifests 1.3.0 and kustomize to generate the pytorch-operator crds and operator yamls and applied them. The pytorch-operator logs shows that the operator is running fine.
[code]

[2021-06-25 07:31] jalola commented on #271
After each iteration == a batch, all of the replicas will send out their gradient (size = network size)
If model size is 100MB:
1 node: no need to send gradient
2 nodes: 2 x 100MB = 200MB/it

You can check your network bandwidth and compare with the model size to see if the network is the bottleneck. If it is because of network then can use bigger batch size as xq2005 said, or using no_sync in DDP

[2021-06-25 17:02] #334 closed

[2021-06-29 18:05] apatil4 opened #339 "`init-pytorch` init container image configurable"
We are trying to launch a distributed training job and saw that the init container for workers were having a `imagePullBackOff` error because they were trying access the `alpine:3.10` image from the docker hub and we were hitting the docker rate limits on image pull.

[code]
We were wondering if that image location is configurable and maybe we can copy the alpine image into our private ECR repo an

[2021-06-30 05:02] johnugeorge commented on #339
Yes. you could configure using `init-container-image` flag

https://github.com/kubeflow/pytorch-operator/blob/master/cmd/pytorch-operator.v1/app/options/options.go#L80

[2021-06-30 13:40] apatil4 commented on #339
Thanks. Is there an example that you can point me to that uses the flag or similar flags.
I found one here - https://github.com/kubeflow/pytorch-operator/blob/master/examples/mnist/v1/pytorch_job_mnist_gloo.yaml#L18 but not sure if it was correct.
Also, should that option be in both master and worker specs?

[2021-07-01 09:33] johnugeorge commented on #339
@apatil4  No. This is the flag to the pytorch controller. You have to configure it here https://github.com/kubeflow/pytorch-operator/blob/master/manifests/base/deployment.yaml#L21 during deployment.

[2021-07-01 20:00] apatil4 commented on #339
Thanks for the pointer. That did help and was able to use the option `init-container-image`. Closing the issue

[2021-07-01 20:00] #339 closed

[2021-07-06 02:36] ldd91 opened #340 "fell confused about world_size"
In pytorch tutorial the world_size is equal to the total of gpus,However in pytorch-operator is the number of  instances,I was coufused

[2021-07-06 05:45] #340 closed

[2021-07-08 04:48] SeibertronSS opened #342 "What is the difference between master and worker?"
Hello everyone,
Recently I am using pytorchjob to complete some work, but I have a question as described below. What are the capabilities of the master and worker in pytorchjob? What is the difference between master and worker?

[2021-07-08 07:15] gaocegege commented on #342
Ref https://pytorch.org/docs/stable/distributed.html

When you use torch distributed, you need to specify master-addr and port:

           --nnodes=2 --node_rank=0 --master_addr="192.168.1.1"
           --master_port=1234 YOUR_TRAINING_SCRIPT.py (--arg1 --arg2 --arg3
           and all other arguments of your training script)

In PyTorch operator, we will inject the address and port of the master

[2021-07-08 13:17] SeibertronSS commented on #342
Thank you very much for your answers.

[2021-07-08 13:17] #342 closed

[2021-07-21 10:56] Shuai-Xie opened #344 "PytorchJob replicas has different node affinity behaviors compared with Deployment"
Hello.

Dear developers, I find a problem when using pytorchjob.

## Problem

I notice that **PytorchJob replica pods don't obey the scheduling rules set in the node affinity. All the pods of a pytorchjob replica tend to be scheduled on the same node. And the preferred weights set in the node affinity seem to not affect**.

## Example: PytorchJob vs. Deployment

For example, the **PytorchJob** and

[2021-07-21 11:05] gaocegege commented on #344
Can you please show us `kubectl get pods pytorch-dist-mnist-gloo-worker-0 -o yaml`

[2021-07-22 02:22] Shuai-Xie commented on #344
Sure. The YAML response is below. Thanks a lot.

[code]

[2021-07-22 02:48] gaocegege commented on #344
As shown in the pod spec, the nodeaffinity is set. Thus I think it should be executed by the scheduler. Is there enough resource in A1?

[2021-07-22 05:06] Shuai-Xie commented on #344
Yes. Both A1 and A2 have 4 unallocated GPUs.

[code]

[2021-07-22 09:14] #312 closed

[2021-08-04 08:55] gaocegege opened #346 "[feat] Support PyTorch 1.9"
Ref https://github.com/pytorch/elastic/issues/117

[2021-08-10 05:25] Jeffwan commented on #346
@gaocegege Any plans on your side?

[2021-08-10 06:24] gaocegege commented on #346
I am investigating 1.9.0, maybe we can support it when 1.9.1 is released. The feature is not stable now. WDYT

[2021-08-12 21:30] mcristina422 opened #347 "Upgrade to v1 CRDs"
The [current CRD](https://github.com/kubeflow/pytorch-operator/blob/a502590d8d340186604e695c55b4cc6cea5cee0d/manifests/base/crd.yaml#L1) is v1beta1 which is [deprecated](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#customresourcedefinition-v122) and is no longer served as of v1.22.

[2021-08-13 02:01] gaocegege commented on #347
SGTM

Ref https://github.com/kubeflow/tf-operator/issues/1304

[2021-08-15 09:35] gogogwwb opened #348 "container "pytorch" is waiting to start: PodInitializing"
When the master is finished running, the worker is still initializing.

![1629019887(1)](https://user-images.githubusercontent.com/51263129/129474058-22d7190f-e8e6-4ff3-a623-ed5d1dbcd7cd.jpg)

worker log：
Error from server (BadRequest): container "pytorch" in pod "jupyter-kernel-jxosi-worker-0" is waiting to start: PodInitializing

What is the reason for this?

[2021-08-16 02:33] gaocegege commented on #348
Could you please run `kubectl describe` and post the result here?

[2021-08-16 03:08] gogogwwb commented on #348
![image](https://user-images.githubusercontent.com/51263129/129506361-a2ae4a04-74da-457a-85b5-9714d8079a93.png)

[2021-08-16 03:14] gaocegege commented on #348
Can you show more about it? Especially the events section.

[2021-08-16 05:04] gogogwwb commented on #348
![image](https://user-images.githubusercontent.com/51263129/129513646-69cd9455-ce53-471a-b167-2ba3f86e264c.png)

[2021-08-16 06:18] gaocegege commented on #348
Seems that the init container is pending. Can you show its log?

[2021-08-16 06:52] gogogwwb commented on #348
init-pytorch log：
![image](https://user-images.githubusercontent.com/51263129/129522859-2ea8cab2-975d-4c27-9ef2-70b4fa23aa5f.png)

[2021-08-16 06:57] gogogwwb commented on #348
master svc ：

![image](https://user-images.githubusercontent.com/51263129/129523423-5a370492-2fbd-4e8b-ac8c-264245ad991f.png)

[2021-08-16 09:21] gaocegege commented on #346
I will write a design proposal for it, based on the unified operator.

[2021-08-16 12:04] gaocegege commented on #348
Can you try kubectl debug to run an ephemeral container, then run `ping xxx-master-0`?

[2021-08-16 12:37] gogogwwb commented on #348
ping master-0 in an ephemeral container :
![image](https://user-images.githubusercontent.com/51263129/129564642-8b382f3a-8f4e-47e5-8aba-8200db387ecd.png)

[2021-08-16 12:40] gogogwwb commented on #348
I found ep appeared, but disappeared again after a while
![image](https://user-images.githubusercontent.com/51263129/129565103-3cf34da7-15d9-4e19-952c-3a09374967be.png)
![image](https://user-images.githubusercontent.com/51263129/129565227-cb73d49b-4970-401e-bea1-7d84cbe6665a.png)

[2021-08-17 02:52] gaocegege commented on #348
It's weird.

[2021-08-17 02:58] gogogwwb commented on #348
I put the program to sleep for a while and found that the worker can run. Is there any restriction on the creation order of service and pod in pytorchjob?

[2021-08-17 03:01] gogogwwb commented on #348
It should be that the master executes too fast, so that the ep of the service finally becomes none, and the worker cannot obtain the IP address of the master.

[2021-08-17 03:07] gaocegege commented on #348
Interesting. /cc @johnugeorge

[2021-08-17 04:06] johnugeorge commented on #348
But in that case, master should not start the job until workers are up. Are you using distributed setup itself in the code?

[2021-08-17 07:16] gogogwwb commented on #348
I did not use distributed steps in the code. After master running, it becomes completed state, "kubectl get ep -ntest", and found that ep is none

[2021-08-17 07:21] gogogwwb commented on #348
If the code is not sleeping, the master is in a short running state, but the worker is in the init state

[2021-08-18 11:03] johnugeorge commented on #348
If you are not using distributed pytorch in the code, this can happen.  Master can start executing and gets completed before worker starts. Can you confirm whether you are using distributed APIs?

[2021-08-25 08:59] zqz-net opened #349 "why worker need initContainer in pytorch-operator?"
Hi, I wonder why worker need initContainer in pytorch-operator ,and master dont need it?

[2021-08-25 11:46] johnugeorge commented on #349
It is ensure that master service is up before the workers start

[2021-08-25 11:48] zqz-net commented on #349
I understand. Thank you!!!

[2021-08-25 11:48] #349 closed

[2021-09-01 09:20] SeibertronSS opened #350 "How to use DDP in pytorch operator？"
I have a pytorch DDP program as follows:
[code]
When I run in the host, I will execute `python -m torch.distributed.launch --nnodes=2 --node_rank=0 --nproc_per_node 8 \
  --master_adderss $my_address --master_port $my_port main.py` both in master and worker. If Pytorch operator is used, is there no need to specify `master_adderss` and `master_port`?

[2021-09-01 11:22] johnugeorge commented on #350
Not required.  Variables will be auto populated

https://github.com/kubeflow/pytorch-operator/blob/a502590d8d340186604e695c55b4cc6cea5cee0d/pkg/controller.v1/pytorch/pod.go#L259-L276

[2021-09-01 12:26] SeibertronSS commented on #350
Thank you very much!

[2021-09-01 12:26] #350 closed

[2021-09-07 10:15] qiankunli opened #351 "volcano change the PodGroup CRD APIGroup to volcano.sh"
volcano (from v0.4) change the PodGroup CRD APIGroup to `scheduling.volcano.sh`
but when i create pytorchjob with gang-scheduling, it will create podgroup whose APIGroup is `scheduling.incubator.k8s.io`

[2021-09-07 12:47] gaocegege commented on #351
We are implementing it in the training-operator's new design

/cc @kubeflow/wg-training-leads @zw0610

[2021-09-13 11:00] gogogwwb commented on #348
import torch
import time
import os
package_name = 'requests'
os.system(f'pip install {package_name}')
dtype = torch.float
device = torch.device("cpu")
# device = torch.device("cuda:0") # Uncomment this to run on GPU
#time.sleep(60)
# N is batch size; D_in is input dimension;
# H is hidden dimension; D_out is output dimension.
N, D_in, H, D_out = 64, 1000, 100, 10

# Create random input and output

[2021-09-13 11:00] gogogwwb commented on #348
import torch
import time
import os
package_name = 'requests'
os.system(f'pip install {package_name}')
dtype = torch.float
device = torch.device("cpu")
# device = torch.device("cuda:0") # Uncomment this to run on GPU
#time.sleep(60)
# N is batch size; D_in is input dimension;
# H is hidden dimension; D_out is output dimension.
N, D_in, H, D_out = 64, 1000, 100, 10

# Create random input and output

[2021-09-13 11:01] gogogwwb commented on #348
`import torch
import time
import os
package_name = 'requests'
os.system(f'pip install {package_name}')
dtype = torch.float
device = torch.device("cpu")
# device = torch.device("cuda:0") # Uncomment this to run on GPU
#time.sleep(60)
# N is batch size; D_in is input dimension;
# H is hidden dimension; D_out is output dimension.
N, D_in, H, D_out = 64, 1000, 100, 10

# Create random input and output

[2021-09-13 11:02] gogogwwb commented on #348
![image](https://user-images.githubusercontent.com/51263129/133072607-6c2862f8-eab1-475e-abc4-e2323830f900.png)

[2021-09-14 13:51] johnugeorge commented on #348
That is issue. Any reason in using pytorch-operator without using distributed version?

Example:

https://github.com/kubeflow/tf-operator/blob/1aa44a68cd364ed6e30c0841e6daf1d93a29f146/examples/pytorch/mnist/mnist.py#L72

[2021-09-14 17:25] umka1332 commented on #317
Hi @jinchihe Is there any progress on this?

[2021-09-14 17:28] umka1332 commented on #325
Hi @Jeffwan Kubeflow 1.3 is already released. Is there any progress on this?

[2021-09-15 08:18] SeibertronSS opened #352 "Can PytorchJob skip or cancel the init cantainer?"
Hello,
Dear developers. I encounter a question when using pytorchjob. Can PytorchJob skip or cancel the init cantainer?

[2021-09-15 08:50] johnugeorge commented on #352
You might see couple of restarts in worker pods till master pod is up. I don't see any other problem. I haven't tested it.

[2021-09-16 08:39] Shuai-Xie commented on #352
Hi, @johnugeorge, I also ran into the same problem as @SeibertronSS.

I want to accelerate the training of pytorchjob to **achieve a comparable training speed performance like on bare metal**.

What I do:
- turn the `hostNetwork` on for each pod
- assign each pod with 4 GPUs, and launch 4 processes inside. (GPU machines 48/49 have 4 GPUs, respectively.)

Ideally, the training will start like runni

[2021-09-16 08:41] Shuai-Xie opened #353 "Can I use hostNetwork to run PytorchJob like on bare metal"
Dear developers, I am comparing the performance of DDP running with pytorchjob and bare metal.

## Experiment

I run resnet18 on mnist, batchsize=64, test 10 batchs. And my experiment results are below.

| exp  | configs                                   | hostNetwork | runtime (s) |
| ---- | :---------------------------------------- | :---------: | :---------: |
| 1    | 1 Pod 4 Cards 1 Machine

[2021-09-16 08:56] gaocegege commented on #353
Maybe you could try dnsPolicy: ClusterFirstWithHostNet

[2021-09-16 09:28] Shuai-Xie commented on #353
So excited that you have replied before I completed the description of the problem @gaocegege

I'll try your solution right away.

[2021-09-16 14:04] Shuai-Xie commented on #353
It works fine @gaocegege . Thanks with your kind reply.

[2021-09-16 14:04] #353 closed

[2021-09-18 10:33] Shuai-Xie opened #354 "Different DDP training results of PytorchJob and bare metal"
Dear developers, I got a new problem.

I've compared the DDP training process of PytorchJob (PJ) and Bare Metal (BM) and got different training results.

## Experiment settings
- Two V100 GPU machines 48/49. Each has 4 cards. We have 8 GPUs in total.
- DDP training resnet18 on mnist dataset with batchsize=256 and epochs=1
- set random seed=1

## Experiment results

### 1. BM DDP training

I record

[2021-09-19 04:21] gaocegege commented on #354
Interesting. It should be the same since you are using the same dataset and the same random seed.

Can you please post the code here？

/cc @zw0610 @kubeflow/wg-training-leads

[2021-09-19 09:56] Shuai-Xie commented on #354
Sure @gaocegege. I've posted the code here: https://github.com/Shuai-Xie/mnist-pytorchjob-example.

Thanks for your kind reply.

[2021-09-20 13:04] Shuai-Xie commented on #354
Hi @gaocegege, I've got more results and proved that random state isn't the problem.

## Check the random values generated on BM and PJ

This function below is used to validate that BM and PJ generate the same random values when using the same seed.

Each process launched by DDP training will invoke this function and print the random values.

[code]

Here are the results.

### (1) Different seeds

[2021-09-21 03:04] Shuai-Xie opened #355 "PytorchJob version has an effect on the training reproduction"
I try to figure out why Bare Metal (BM) and PytorchJob (PJ) have different training results in https://github.com/kubeflow/pytorch-operator/issues/354#issue-999999536.

And now I find that PytorchJon v1.8.0 and 1.9.0 have different training results both on BM and PJ.

## Experiment settings
- Two V100 GPU machines 48/49. Each has 4 cards. We have 8 GPUs in total.
- DDP training resnet18 on mnist d

[2021-09-21 03:07] Shuai-Xie commented on #354
Things are getting weirder @gaocegege.

PytorchJob version may have an effect on the training reproduction https://github.com/kubeflow/pytorch-operator/issues/355#issue-1001742213.

Please let me know if I write the wrong code. Thanks a lot.

[2021-09-21 07:55] gaocegege commented on #355
PyTorch 1.9.0 introduces elastic distributed training but it is not stable. I think maybe you can wait until 1.9.1 is released and have a try again.

[2021-09-21 07:56] gaocegege commented on #354
Thanks for your detailed reply!

Do you mean PyTorch version?

[2021-09-21 08:26] zw0610 commented on #355
The `version` in title means the version of PyTorch instead of PyTorchJob. Let's fix it on 1.8.0 and see how the difference is introduced.

[2021-09-21 12:46] Shuai-Xie commented on #354
😂 Yes @gaocegege. I'm sorry to make this mistake. I'll change it right away.

By the way, are there any clues now?  Many thanks.

[2021-09-21 12:46] Shuai-Xie commented on #355
Oh yes. I'm sorry to make this mistake. I'll change it right now.

[2021-09-21 12:49] Shuai-Xie commented on #355
Thanks for your kind reply @zw0610.

I'll fix the Pytorch version on 1.8.0 in the following experiments.

[2021-09-21 12:58] Shuai-Xie commented on #355
OK. I'll use Pytorch 1.8.0 now and look forward to figuring out this problem early with your help.

[2021-09-22 13:01] Shuai-Xie opened #356 "Can I freeze pytorchjob training pods and migrate them to other nodes?"

[2021-09-23 02:45] gaocegege commented on #356
You can do it with [checkpoint](https://pytorch.org/tutorials/recipes/recipes/saving_and_loading_a_general_checkpoint.html)

[2021-09-24 06:25] Shuai-Xie commented on #356
Yes, @gaocegege. Checkpoints can do this job.

In this way, we have to define what and when to save.
- what: users have to tell us what they want to record, e.g. `epoch`, `model_state_dict`, `optimizer_state_dict`, and on.
- when:  this affects when we resume training and the total training cost of the task inside the pytorchjob.

Are there any ways to make this migration more smooth and seamless

[2021-09-24 06:28] gaocegege commented on #356
I do not think it is easy. As you know, container dynamic migration is not mature now. Tools like CRIU do not work well. Do you have any idea about it?

[2021-09-24 06:47] Shuai-Xie commented on #356
I have no ideas and agree with you that this is not easy.

Saving a checkpoint seems to go around this problem now.

Also, this paper has discussed this problem. [Gandiva: Introspective Cluster Scheduling for Deep Learning](https://www.usenix.org/system/files/osdi18-xiao.pdf)

![image](https://user-images.githubusercontent.com/18352713/134630299-73df627c-d43e-4ebc-99d8-d048afe12bc0.png)

[2021-09-24 06:48] gaocegege commented on #356
It is invasive to the user code, personally, I do not think it is practical.

[2021-09-24 08:26] Shuai-Xie commented on #356
Yes. When we provide a service, we don't want users to change their habits.

This problem seems unsolvable now.

However, if this requirement is necessary, we may have to design a more friendly python library using decorator or combination functions to register some values to be migratable easily.

For example,

[code]

Thanks a lot.

[2021-09-24 08:34] gaocegege commented on #356
Is a complicated issue, I think. I am glad to review your design proposal if you are interested in such a library.

[2021-09-24 09:29] Shuai-Xie commented on #356
Yes.
- For pass-by-reference types like `model`, `optimizer` or `dict`, this may be easy.
- But for pass-by-value types like `int` or `float`, for now, I don't know how to trace their values properly.

[2021-09-26 15:18] Shuai-Xie commented on #356
Hi @gaocegege, I've designed two migration solutions here: https://github.com/Shuai-Xie/pytorchjob-migration.

Both solutions use the `preStop` container hook and record the signal in a shared file.

This repo has two branches.
- **master**:  implements `MigratableVariable` with combination function and singleton class, which is more user-friendly and can be used in multiple python modules freely.

[2021-09-29 03:21] bug-developer021 opened #358 "Can not use volcano for Gang Scheduling"
same as https://github.com/kubeflow/pytorch-operator/issues/351

[2021-09-29 04:37] #358 closed

[2021-09-29 11:00] gogogwwb commented on #348
How do I make the pod created by pytorchjob not automatically disappear after completion, is it to use cleanpolicy? How to set it up? thanks

[2021-10-09 11:15] johnugeorge commented on #348
Set to None

https://github.com/kubeflow/common/blob/f7c41a08761ff3b215553a051fd529efd22782a1/pkg/apis/common/v1/types.go#L136

[2021-10-28 14:07] dmitsf opened #359 "The training hangs after reloading one of master/worker pods"
Hello!
I'm setting up training with PyTorchJobs. I have the problem: if one of the pods (doesn't matter, master or worker) reloads, the whole process hangs. The reason for reloading can be different, usually, it's due to Google Cloud Engine node rescheduling. Also, I tried to kill pods myself - the behavior was the same.
Can I avoid this behavior and make training tolerant to pods' reloading?

[2021-10-30 01:49] gaocegege commented on #359
Can you please show us the script and the YAML file? PyTorch 1.9 introduced elastic training and it may hang.

[2021-11-05 12:20] konnase opened #360 "service label mismatches selector, which result in inconsistency"
Service label is `app: pytorch-operator`, while selector is `name: pytorch-operator`. Deployment spec label and selector are both `name: pytorch-operator`.

![image](https://user-images.githubusercontent.com/18288851/140506943-00a4c917-2d89-4145-8e4c-e34dd548077d.png)

In such a case, both the service and deployment have been deployed via `kubectl create -f manifests/base`. Then we want to update

[2021-11-05 13:24] gaocegege commented on #360
May I ask which PyTorch operator version you are using?

[2021-11-08 06:33] konnase commented on #360
v0.7.0

[2021-11-08 06:46] konnase commented on #360
I made a mistake. The label `app: pytorch-operator` added by `kustomize` is defined in the `commonLabels` field of `kustomization.yaml`.

Sorry to mislead all.

[2021-11-19 11:59] wallarug commented on #219
Hey @mengdong  How did you achieve the multi-gpu in a single pod test?   I am struggling.  It doesn't want to work.

[2021-11-19 11:59] wallarug commented on #331
Hey @tingweiwu ,

Did you ever get this sorted?   I am struggling with the same issue.

[2021-11-19 12:12] wallarug opened #362 "Multi-gpu in a single pod"
Hi Team,

I am trying to run a Kubernetes Pod with multiple GPUs in the same pod.  I can't seem to find any resources for how to do this.  All the resources I find are 1 pod = 1 gpu.  I don't want this.  I want to be able to spin up 2x4gpu (8gpu) pods or different combinations.

It seems this has been asked before in #219 #331  but no solid answers in there.

The YAML file I have based my testing

[2021-11-19 14:29] seansxl opened #363 "run https://github.com/kubeflow/pytorch-operator/blob/master/sdk/python/test/test_e2e.py failed"
Traceback (most recent call last):
  File "/home/sxl/PythonDev/k8s_client/pytorch_main.py", line 69, in <module>
    pytorchjob_client.create(pytorchjob)
  File "/home/sxl/.local/lib/python3.8/site-packages/kubeflow/pytorchjob/api/py_torch_job_client.py", line 65, in create
    outputs = self.custom_api.create_namespaced_custom_object(
  File "/home/sxl/.local/lib/python3.8/site-packages/kubernete

[2021-11-20 01:44] calvin11ung commented on #128
@jwwandy do you have sample code of how you achieved this with the pytorchoperator? Currently struggling with this problem

[2021-11-20 15:12] Shuai-Xie commented on #362
Maybe you can have a look at what I do in this issue https://github.com/kubeflow/pytorch-operator/issues/354#issue-999999536.

Best wishes.

[2021-11-20 15:37] Shuai-Xie opened #364 "PytorchJob DDP training will stop if I delete a worker pod"
Hi, everyone.

I want to test the failure tolerance of PytorchJob.

I started a PytorchJob with 1 master and 3 workers.
[code]

It trains fine.

Then I deleted a worker.

[code]

As I set `restartPolicy: OnFailure`, this pod will restart quickly with the same name `mnist-ddp-worker-1`.

But sadly, I can't see this newborn worker join the DDP training.

Thanks.

[2021-11-20 18:50] FANG-MING commented on #342
how to change it when i want to use multi nodes? And I find that in kubeflow WORLD_SIZE is different from the means in pytorch

[2021-11-20 18:53] FANG-MING commented on #350
I want to know if I want to use two nodes how to change the code?

[2021-11-21 01:13] gaocegege commented on #342
MASTER will open an TCP port and acts as MATSER_ADDR

[2021-11-21 01:17] gaocegege commented on #364
This repository will be deprecated soon, please open an issue at github.com/kubeflow/training-operator

[2021-11-21 01:18] gaocegege commented on #363
This repository will be deprecated soon, please open an issue at github.com/kubeflow/training-operator

[2021-11-21 01:18] gaocegege commented on #362
This repository will be deprecated soon, please open an issue at github.com/kubeflow/training-operator

[2021-11-21 05:05] FANG-MING commented on #342
How can i use it, I find that if I use 2 nodes and each node have 2 gpus, the task only laucher once. And I do not know how to use multi nodes to training network. Can you help me, thanks.

[2021-11-21 11:18] gaocegege commented on #342
You could open an issue at https://github.com/kubeflow/training-operator about how you run the job

The information is limited, thus I do not know how to help you.

[2021-11-22 08:21] Shuai-Xie commented on #364
haolei, gege @gaocegege

[2021-11-27 17:14] gajanankulkarni-18 opened #365 "unable to build image for ppc64le"
Hi Team,
I have binary of pytorch-operator but gcloud is not supported on ppc64le platform.
How can i build image in such scenario for pytorch-operator on ppc64le platform.